@model LidLaunchWebsite.Models.BulkBatchOrder
@{
    ViewBag.Title = "BulkOrderBatch";
}
<style type="text/css">
    iframe#launcher {
        display: none;
    }
</style>
<h2>BATCH ID: @Model.batchInfo.BatchId</h2>
<div>
    <a href="~/Bulk/PrintBulkOrderBatchBulkOrders?bulkBatchId=@Model.batchInfo.BatchId" target="_blank"><input type="button" value="PRINT ALL BATCHED ORDERS" class="smallButton  left" /></a>

    <a href="~/Bulk/BulkOrderBatch?bulkBatchId=@Model.batchInfo.BatchId&onlyOutOfStock=true"><input type="button" value="SHOW ONLY OUT OF STOCK" class="smallButton left" style="margin-left:20px;" /></a>

    <a href="~/Bulk/BulkOrderBatch?bulkBatchId=@Model.batchInfo.BatchId&onlyOutOfStock=false"><input type="button" value="SHOW ALL" class="smallButton left" style="margin-left:20px;" /></a>
</div>
<div class="clear"></div>
<table>
    @foreach (LidLaunchWebsite.Models.BulkOrderItem itemToOrder in Model.lstItemsToOrder)
    {
        <tr>
            <td><span onclick="$(this).closest('tr').toggleClass('ordered')" class="smallButton" style="cursor:pointer;"><i class="fas fa-check"></i></span></td>
            <td style="padding:10px;">
                <img src='~/Images/@itemToOrder.ItemThumbnail' />
            </td>
            <td style="padding:10px;">
                @itemToOrder.ItemName
            </td>
            <td style="padding:10px;">
                @itemToOrder.ItemQuantity
            </td>
            <td>
                @{var isMissing = false;
                    var isOSFA = false;
                    var isSM = false;
                    var isLXL = false;
                    var isXLXXL = false;
                    var missingItem = new LidLaunchWebsite.Models.BulkOrderBatchMissingItems();
                }
                @if (Model.lstMissingItems.Where(lm => lm.MasterBulkOrderItemId == itemToOrder.MasterItemId).ToList().Count > 0)
                {
                    if (itemToOrder.ItemName.Contains("OSFA"))
                    {
                        isOSFA = true;
                        if (Model.lstMissingItems.Where(lm => lm.MasterBulkOrderItemId == itemToOrder.MasterItemId && lm.ItemName.Contains("OSFA")).ToList().Count > 0)
                        {
                            isMissing = true;
                            missingItem = Model.lstMissingItems.First(lm => lm.MasterBulkOrderItemId == itemToOrder.MasterItemId && lm.ItemName.Contains("OSFA"));
                        }
                    }
                    if (itemToOrder.ItemName.Contains("L/XL"))
                    {
                        isLXL = true;
                        if (Model.lstMissingItems.Where(lm => lm.MasterBulkOrderItemId == itemToOrder.MasterItemId && lm.ItemName.Contains("L/XL")).ToList().Count > 0)
                        {
                            isMissing = true;
                            missingItem = Model.lstMissingItems.First(lm => lm.MasterBulkOrderItemId == itemToOrder.MasterItemId && lm.ItemName.Contains("L/XL"));
                        }
                    }
                    if (itemToOrder.ItemName.Contains("S/M"))
                    {
                        isSM = true;
                        if (Model.lstMissingItems.Where(lm => lm.MasterBulkOrderItemId == itemToOrder.MasterItemId && lm.ItemName.Contains("S/M")).ToList().Count > 0)
                        {
                            isMissing = true;
                            missingItem = Model.lstMissingItems.First(lm => lm.MasterBulkOrderItemId == itemToOrder.MasterItemId && lm.ItemName.Contains("S/M"));
                        }
                    }
                    if (itemToOrder.ItemName.Contains("XL/XXL"))
                    {
                        isXLXXL = true;
                        if (Model.lstMissingItems.Where(lm => lm.MasterBulkOrderItemId == itemToOrder.MasterItemId && lm.ItemName.Contains("XL/XXL")).ToList().Count > 0)
                        {
                            isMissing = true;
                            missingItem = Model.lstMissingItems.First(lm => lm.MasterBulkOrderItemId == itemToOrder.MasterItemId && lm.ItemName.Contains("XL/XXL"));
                        }
                    }
                    if (isMissing && missingItem.MissingQuantity > 0)
                    {
                        <div class="missingItemSection" style="background: red; padding: 30px;">
                            <span class="missingItemId hidden">@missingItem.Id</span>
                            <span class="decrementButton"><input type="button" class="smallButton" value="-" onclick="decrementMissingTotal(this, @itemToOrder.MasterItemId)" /></span>
                            <span class="missingTotalHolder"><input type="text" class="txtMissingTotal" value="@missingItem.MissingQuantity" /></span>
                            <span class="incrementButton"><input type="button" class="smallButton" value="+" onclick="incrementMissingTotal(this, @itemToOrder.MasterItemId)" /></span>
                        </div>
                        <div><a href="javascript:void();" onclick="showOutOfStockOrderPopup(@itemToOrder.MasterItemId,'@isOSFA.ToString()','@isSM.ToString()','@isLXL.ToString()','@isXLXXL.ToString()','@missingItem.MissingQuantity','@missingItem.ItemName');">View Orders</a></div>
                    }
                    else
                    {                        
                        <div class="missingItemSection">
                            <span class="missingItemId hidden"></span>
                            <span class="decrementButton"><input type="button" class="smallButton" value="-" onclick="decrementMissingTotal(this, @itemToOrder.MasterItemId)" /></span>
                            <span class="missingTotalHolder"><input type="text" class="txtMissingTotal" value="0"/></span>
                            <span class="incrementButton"><input type="button" class="smallButton" value="+" onclick="incrementMissingTotal(this, @itemToOrder.MasterItemId)" /></span>
                        </div>
                    }
                }
                else
                {
                    <input type="button" class="smallButton btnCreateMissingBlank" value="Out Of Stock" onclick="createBulkOrderBatchMissingItem(this, '@itemToOrder.ItemName', @itemToOrder.MasterItemId, @Model.batchInfo.BatchId)" />
                    <div class="missingItemSection hidden">
                        <span class="missingItemId hidden"></span>
                        <span class="decrementButton"><input type="button" class="smallButton" value="-" onclick="decrementMissingTotal(this, @itemToOrder.MasterItemId)" /></span>
                        <span class="missingTotalHolder"><input type="text" class="txtMissingTotal" /></span>
                        <span class="incrementButton"><input type="button" class="smallButton" value="+" onclick="incrementMissingTotal(this, @itemToOrder.MasterItemId)" /></span>
                    </div>
                }
            </td>
            <td style="padding:10px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="4" style="border-bottom:2px solid;"></td>
        </tr>

    }
</table>

<div id="missingBlankOrdersHolder" class="hidden">
    <div id="missingBlankOrdersHolderInner">
        <span onclick="$('#missingBlankOrdersHolder').hide();" class="closeButton" style="display:block; top:5px;right:5px; float:right;">X</span>
        <div id="missingBlankHolderContent">

        </div>
    </div>
</div>

@foreach (LidLaunchWebsite.Models.BulkOrder bulkOrder in Model.lstBulkOrders)
{
    <div><a href="~/Dashboard/BulkOrderDetailsPopup?bulkOrderId=@bulkOrder.Id" target="_blank">@bulkOrder.Id</a></div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.txtMissingTotal').blur(function () {
            updateMissingTotal(this);
        });
    });
    function createBulkOrderBatchMissingItem(that, itemName, masterItemId, batchId) {
        $(that).hide();
        showLoading();
        $.ajax({
            type: "POST",
            url: '/Dashboard/CreateBulkOrderBatchMissingItem',
            contentType: false,
            processData: false,
            data: JSON.stringify({
                itemName: itemName, masterItemId: masterItemId, batchId: batchId
            }),
            contentType: "application/json",
            success: function (result) {
                if (result == "0") {
                    //do nothing
                    displayPopupNotification('error.', 'error', false);
                } else {
                    hideLoading();
                    displayPopupNotification('MISSING ITEM RECORD CREATED', 'error', false);
                    $(that).closest('tr').find('.missingItemSection').show();
                    $(that).closest('tr').find('.missingItemId').text(result);
                }
            },
            error: function (xhr, status, p3, p4) {
                displayPopupNotification('Error.', 'error', false);
            }
        });

    }
    function decrementMissingTotal(that) {
        var currentTotal = $(that).closest('tr').find('.txtMissingTotal').val();
        var missingItemId = $(that).closest('tr').find('.missingItemId').text();
        if (currentTotal == '0' || currentTotal == '') {
            //do nothing
        } else {
            currentTotal--;

            showLoading();
            $.ajax({
                type: "POST",
                url: '/Dashboard/UpdateBulkOrderBatchMissingItemsQuantity',
                contentType: false,
                processData: false,
                data: JSON.stringify({
                    id: missingItemId, missingQuantity: currentTotal
                }),
                contentType: "application/json",
                success: function (result) {
                    if (result == "") {
                        //do nothing
                        displayPopupNotification('error.', 'error', false);
                    } else {
                        hideLoading();
                        $(that).closest('tr').find('.txtMissingTotal').val(currentTotal);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    displayPopupNotification('Error.', 'error', false);
                }
            });
        }
    }
    function incrementMissingTotal(that, masterItemId) {
        var currentTotal = $(that).closest('tr').find('.txtMissingTotal').val();
        var missingItemId = $(that).closest('tr').find('.missingItemId').text();
        currentTotal++;

        showLoading();
        $.ajax({
            type: "POST",
            url: '/Dashboard/UpdateBulkOrderBatchMissingItemsQuantity',
            contentType: false,
            processData: false,
            data: JSON.stringify({
                id: missingItemId, missingQuantity: currentTotal
            }),
            contentType: "application/json",
            success: function (result) {
                if (result == "") {
                    //do nothing
                    displayPopupNotification('error.', 'error', false);
                } else {
                    hideLoading();
                    $(that).closest('tr').find('.txtMissingTotal').val(currentTotal);
                }
            },
            error: function (xhr, status, p3, p4) {
                displayPopupNotification('Error.', 'error', false);
            }
        });

    }
    function updateMissingTotal(that) {
        var currentTotal = $(that).closest('tr').find('.txtMissingTotal').val();
        var missingItemId = $(that).closest('tr').find('.missingItemId').text();

        showLoading();
        $.ajax({
            type: "POST",
            url: '/Dashboard/UpdateBulkOrderBatchMissingItemsQuantity',
            contentType: false,
            processData: false,
            data: JSON.stringify({
                id: missingItemId, missingQuantity: currentTotal
            }),
            contentType: "application/json",
            success: function (result) {
                if (result == "") {
                    //do nothing
                    displayPopupNotification('error.', 'error', false);
                } else {
                    hideLoading();
                    $(that).closest('tr').find('.txtMissingTotal').val(currentTotal);
                }
            },
            error: function (xhr, status, p3, p4) {
                displayPopupNotification('Error.', 'error', false);
            }
        });
    }
    function showOutOfStockOrderPopup(masterItemId, isOSFA, isSM, isLXL, isXLXXL, missingQuantity, itemName){
        showLoading();
        $.ajax({
            type: "POST",
            url: '/Dashboard/GetBulkOrdersContainingMissingBlank',
            contentType: false,
            processData: false,
            data: JSON.stringify({
                masterItemId: masterItemId, isOSFA: isOSFA, isSM: isSM, isLXL: isLXL, isXLXXL: isXLXXL, missingQuantity: missingQuantity, itemName: itemName, batchId: @Model.batchInfo.BatchId
            }),
            contentType: "application/json",
            success: function (result) {
                if (result == "") {
                    //do nothing
                    displayPopupNotification('error.', 'error', false);
                } else {
                    hideLoading();
                    $('#missingBlankOrdersHolder').show();
                    $('#missingBlankHolderContent').html('<h2>' + itemName + ' : ' + missingQuantity + '<h2>');
                    $('#missingBlankHolderContent').append(result);
                }
            },
            error: function (xhr, status, p3, p4) {
                displayPopupNotification('Error.', 'error', false);
            }
        });
    }
</script>
<style type="text/css">
    .decrementButton {
        display: inline-block;
    }

    .missingTotalHolder {
        display: inline-block;
    }

    .missingTotalHolder input {
        width: 80px;
    }

    .incrementButton {
        display: inline-block;
    }

    .ordered {
        background-color: #a2e392;
    }

    #missingBlankOrdersHolder {
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
    }
    #missingBlankOrdersHolderInner {
        width: 700px;
        height: 800px;
        background: #fff;
        margin-top: 50px;
        display: block;
        padding: 10px;
        margin: 100px auto;
        overflow-y:scroll;
    }
    #missingBlankHolderContent {
        font-size:24px;
    }
</style>