<style type="text/css">
    .sizeTable {
        border: 1px solid #000;
        font-size: 14px;
        text-align: center;
        min-width: 400px;
        margin: 5px;
    }

    .sizeTableHeader {
        background: #39b91c;
        color: #fff;
        font-weight: bold;
    }

    .priceTable {
        border: 1px solid #000;
        font-size: 14px;
        text-align: center;
        min-width: 400px;
        margin: 5px;
    }

    .priceTableHeader {
        background: #39b91c;
        color: #fff;
        font-weight: bold;
    }

    .hatStyleSetQty thead {
        font-weight: bold;
    }

    @@media only screen and (max-width: 750px) {
        .sizeTable {
            margin: 5px auto;
        }

        .priceTable {
            margin: 5px auto;
        }
    }
</style>

<div id="bulkHatTypeSelect" class="centerInner" style="display:none;">
    <div id="bulkHatSelectContainer">
        <div class="hatTypeSelectRegion">
            <div class="hatBrand" id="FlexFit">
                <div class="hatBrandLogo left">
                    <img src="~/Images/flexfit-logo.png" height="60" />
                </div>
            </div>
            <div class="hatBrandStyleOptions clear" id="flexFitStyles">
                <div class="hatBrandStyleRegion clear">
                    <div class="hatTitle" onclick="$('#FlexFit6277').toggle();">
                        <div class="title left">Original FlexFit 6277 Fitted</div>
                        <div class="right">Expand/Collapse</div>
                    </div>
                    <div class="hatStyleSelectArea" id="FlexFit6277" style="display:none;">
                        <div class="hatStyleImage">
                            <img src="~/Images/FlexFit6277/hat_01.jpg" />
                        </div>
                        <div class="hatSizePriceChart">
                            <table class="sizeTable">
                                <tr class="sizeTableHeader">
                                    <td>S/M</td>
                                    <td>L/XL</td>
                                    <td>XL/2XL</td>
                                </tr>
                                <tr>
                                    <td>6 3/4"-7 1/4"</td>
                                    <td>7 1/8"-7 5/8"</td>
                                    <td>7 3/8"-8"</td>
                                </tr>
                            </table>
                            <table class="priceTable">
                                <tr class="priceTableHeader">
                                    <td>1-47</td>
                                    <td>48</td>
                                    <td>96</td>
                                    <td>144</td>
                                    <td>288</td>
                                    <td>432+</td>
                                </tr>
                                <tr>
                                    <td>$15</td>
                                    <td>$14</td>
                                    <td>$13</td>
                                    <td>$12</td>
                                    <td>$11</td>
                                    <td>$10</td>
                                </tr>
                                <tr>
                                    <td colspan="6"><i>Multicam +$2 More</i></td>
                                </tr>
                            </table>
                        </div>
                        <div class="hatStyleSetQty">
                            <table style="width:50%; float:left;">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>S/M</td>
                                        <td>L/XL</td>
                                        <td>XL/XXL</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count = 0;
                                        foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.FlexFit6277Items)
                                        {
                                            <tr>
                                                <td class="hatPreviewImage"><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                                                <td class="colorOption">@item.ItemColor</td>
                                                @if (item.SMStock && item.SM)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                @if (item.LXLStock && item.LXL)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                @if (item.XLXXLStock && item.XLXXLStock)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                            </tr>
                                            if (count >= (Model.FlexFit6277Items.Count / 2))
                                            {
                                                count = 0;
                                                @Html.Raw("</tbody></table><table style='width: 50%; float:left;'><thead><tr><td></td><td></td><td>S/M</td><td>L/XL</td><td>XL/XXL</td></thead><tbody>")
                                            }
                                            else
                                            {
                                                count++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div><!--/hatStyleSetQty-->
                    </div><!--/hatStyleSelectArea-->
                </div><!--/hatBrandStyleRegion-->
                <div class="hatBrandStyleRegion clear">
                    <div class="hatTitle" onclick="$('#FlexFitTrucker').toggle();">
                        <div class="title left">FlexFit Trucker Mesh Fitted</div>
                        <div class="right">Expand/Collapse</div>
                    </div>
                    <div class="hatStyleSelectArea" id="FlexFitTrucker" style="display:none;">
                        <div class="hatStyleImage">
                            <img src="~/Images/FlexFit6511/hat_01.jpg" />
                        </div>
                        <div class="hatSizePriceChart">
                            <table class="sizeTable">
                                <tr class="sizeTableHeader">
                                    <td>ONE SIZE</td>
                                </tr>
                                <tr>
                                    <td>6 7/8"-7 1/2"</td>
                                </tr>
                            </table>
                            <table class="priceTable">
                                <tr class="priceTableHeader">
                                    <td>1-47</td>
                                    <td>48</td>
                                    <td>96</td>
                                    <td>144</td>
                                    <td>288</td>
                                    <td>432+</td>
                                </tr>
                                <tr>
                                    <td>$15</td>
                                    <td>$14</td>
                                    <td>$13</td>
                                    <td>$12</td>
                                    <td>$11</td>
                                    <td>$10</td>
                                </tr>
                            </table>
                        </div>
                        <div class="hatStyleSetQty">
                            <table style="width:50%; float:left;">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>OSFA</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count2 = 0;
                                        foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.FlexFit6511Items)
                                        {
                                            <tr>
                                                <td class="hatPreviewImage"><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                                                <td class="colorOption">@item.ItemColor</td>
                                                @if (item.OSFAStock && item.OSFA)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }                                                
                                            </tr>
                                            if (count2 >= (Model.FlexFit6511Items.Count / 2))
                                            {
                                                count2 = 0;
                                                @Html.Raw("</tbody></table><table style='width: 50%; float:left;'><thead><tr><td></td><td></td><td>OSFA</td></thead><tbody>")
                                            }
                                            else
                                            {
                                                count2++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div><!--/hatStyleSetQty-->
                    </div><!--/hatStyleSelectArea-->
                </div><!--/hatBrandStyleRegion-->
                <div class="hatBrandStyleRegion clear">
                    <div class="hatTitle" onclick="$('#FlexFit110').toggle();">
                        <div class="title left">FlexFit 110 Trucker Snapback</div>
                        <div class="right">Expand/Collapse</div>
                    </div>
                    <div class="hatStyleSelectArea" id="FlexFit110" style="display:none;">
                        <div class="hatStyleImage">
                            <img src="~/Images/FlexFit110/hat_01.jpg" />
                        </div>
                        <div class="hatSizePriceChart">
                            <table class="sizeTable">
                                <tr class="sizeTableHeader">
                                    <td>ONE SIZE</td>
                                </tr>
                                <tr>
                                    <td>6 1/2"-7 7/8"</td>
                                </tr>
                            </table>
                            <table class="priceTable">
                                <tr class="priceTableHeader">
                                    <td>1-47</td>
                                    <td>48</td>
                                    <td>96</td>
                                    <td>144</td>
                                    <td>288</td>
                                    <td>432+</td>
                                </tr>
                                <tr>
                                    <td>$15</td>
                                    <td>$14</td>
                                    <td>$13</td>
                                    <td>$12</td>
                                    <td>$11</td>
                                    <td>$10</td>
                                </tr>
                            </table>
                        </div>
                        <div class="hatStyleSetQty">
                            <table style="width:50%; float:left;">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>OSFA</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.FlexFit110Items)
                                        {
                                            <tr>
                                                <td class="hatPreviewImage"><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                                                <td class="colorOption">@item.ItemColor</td>
                                                @if (item.OSFAStock && item.OSFA)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                            </tr>                                            
                                        }
                                    }
                                </tbody>
                            </table>
                        </div><!--/hatStyleSetQty-->
                    </div><!--/hatStyleSelectArea-->
                </div><!--/hatBrandStyleRegion-->
                <div class="hatBrandStyleRegion clear">
                    <div class="hatTitle" onclick="$('#FlexFit210').toggle();">
                        <div class="title left">FlexFit Flat Bill Fitted</div>
                        <div class="right">Expand/Collapse</div>
                    </div>
                    <div class="hatStyleSelectArea" id="FlexFit210" style="display:none;">
                        <div class="hatStyleImage">
                            <img src="~/Images/FlexFit210/hat_01.jpg" />
                        </div>
                        <div class="hatSizePriceChart">
                            <table class="sizeTable">
                                <tr class="sizeTableHeader">
                                    <td>S/M</td>
                                    <td>L/XL</td>
                                </tr>
                                <tr>
                                    <td>6 3/4"-7 1/4"</td>
                                    <td>7 1/8"-7 5/8"</td>
                                </tr>
                            </table>
                            <table class="priceTable">
                                <tr class="priceTableHeader">
                                    <td>1-47</td>
                                    <td>48</td>
                                    <td>96</td>
                                    <td>144</td>
                                    <td>288</td>
                                    <td>432+</td>
                                </tr>
                                <tr>
                                    <td>$15</td>
                                    <td>$14</td>
                                    <td>$13</td>
                                    <td>$12</td>
                                    <td>$11</td>
                                    <td>$10</td>
                                </tr>
                            </table>
                        </div>
                        <div class="hatStyleSetQty">
                            <table style="width:50%; float:left;">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>S/M</td>
                                        <td>L/XL</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.FlexFit6297Items)
                                        {
                                            <tr>
                                                <td class="hatPreviewImage"><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                                                <td class="colorOption">@item.ItemColor</td>
                                                @if (item.SMStock && item.SM)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                @if (item.LXLStock && item.LXL)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>
                        </div><!--/hatStyleSetQty-->
                    </div><!--/hatStyleSelectArea-->
                </div><!--/hatBrandStyleRegion-->
            </div><!--/hatBrandStyleOptions-->

        </div><!--/hatTypeSelectRegion-->
        <div class="hatTypeSelectRegion">
            <div class="hatBrand" id="Yupoong">
                <div class="hatBrandLogo left">
                    <img src="~/Images/yupoong.png" height="40" />
                </div>
            </div>
            <div class="hatBrandStyleOptions clear" id="yupoongStyles">
                <div class="hatBrandStyleRegion clear">
                    <div class="hatTitle" onclick="$('#6089FlatbillSnapback').toggle();">
                        <div class="title left">Flat Bill Snapback</div>
                        <div class="right">Expand/Collapse</div>
                    </div>
                    <div class="hatStyleSelectArea" id="6089FlatbillSnapback" style="display:none;">
                        <div class="hatStyleImage">
                            <img src="~/Images/Yupoong/6089/hat_01.jpg" />
                        </div>
                        <div class="hatSizePriceChart">
                            <table class="sizeTable">
                                <tr class="sizeTableHeader">
                                    <td>ONE SIZE</td>
                                </tr>
                                <tr>
                                    <td>6 5/8"-7 5/8"</td>
                                </tr>
                            </table>
                            <table class="priceTable">
                                <tr class="priceTableHeader">
                                    <td>1-23</td>
                                    <td>24</td>
                                    <td>48</td>
                                    <td>96</td>
                                    <td>144</td>
                                    <td>288+</td>
                                </tr>
                                <tr>
                                    <td>$15</td>
                                    <td>$14</td>
                                    <td>$13</td>
                                    <td>$12</td>
                                    <td>$11</td>
                                    <td>$10</td>
                                </tr>
                                <tr>
                                    <td colspan="6"><i>Multicam +$2 More</i></td>
                                </tr>
                            </table>
                        </div>
                        <div class="hatStyleSetQty">
                            <table style="width:50%; float:left;">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>OSFA</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count3 = 0;
                                        foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.Yupoong6089Items)
                                        {
                                            <tr>
                                                <td class="hatPreviewImage"><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                                                <td class="colorOption">@item.ItemColor</td>
                                                @if (item.OSFAStock && item.OSFA)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                            </tr>
                                            if (count3 >= (Model.Yupoong6089Items.Count / 2))
                                            {
                                                count3 = 0;
                                                @Html.Raw("</tbody></table><table style='width: 50%; float:left;'><thead><tr><td></td><td></td><td>OSFA</td></thead><tbody>")
                                            }
                                            else
                                            {
                                                count3++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>

                        </div><!--/hatStyleSetQty-->
                    </div><!--/hatStyleSelectArea-->
                </div><!--/hatBrandStyleRegion-->
                <div class="hatBrandStyleRegion clear">
                    <div class="hatTitle" onclick="$('#DadCap').toggle();">
                        <div class="title left">Dad Cap</div>
                        <div class="right">Expand/Collapse</div>
                    </div>
                    <div class="hatStyleSelectArea" id="DadCap" style="display:none;">
                        <div class="hatStyleImage">
                            <img src="~/Images/Yupoong/DadCap/hat_01.jpg" />
                        </div>
                        <div class="hatSizePriceChart">
                            <table class="sizeTable">
                                <tr class="sizeTableHeader">
                                    <td>ONE SIZE</td>
                                </tr>
                                <tr>
                                    <td>6 5/8"-7 5/8"</td>
                                </tr>
                            </table>
                            <table class="priceTable">
                                <tr class="priceTableHeader">
                                    <td>1-23</td>
                                    <td>24</td>
                                    <td>48</td>
                                    <td>96</td>
                                    <td>144</td>
                                    <td>288+</td>
                                </tr>
                                <tr>
                                    <td>$15</td>
                                    <td>$14</td>
                                    <td>$13</td>
                                    <td>$12</td>
                                    <td>$11</td>
                                    <td>$10</td>
                                </tr>
                                <tr>
                                    <td colspan="6"><i>Multicam +$2 More</i></td>
                                </tr>
                            </table>
                        </div>
                        <div class="hatStyleSetQty">
                            <table style="width:50%; float:left;">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>OSFA</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count4 = 0;
                                        foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.YupoongDadCapItems)
                                        {
                                            <tr>
                                                <td class="hatPreviewImage"><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                                                <td class="colorOption">@item.ItemColor</td>
                                                @if (item.OSFAStock && item.OSFA)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                            </tr>
                                            if (count4 >= (Model.YupoongDadCapItems.Count / 2))
                                            {
                                                count4 = 0;
                                                @Html.Raw("</tbody></table><table style='width: 50%; float:left;'><thead><tr><td></td><td></td><td>OSFA</td></thead><tbody>")
                                            }
                                            else
                                            {
                                                count4++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div><!--/hatStyleSetQty-->
                    </div><!--/hatStyleSelectArea-->
                </div><!--/hatBrandStyleRegion-->
                <div class="hatBrandStyleRegion clear">
                    <div class="hatTitle" onclick="$('#6606TruckerSnapback').toggle();">
                        <div class="title left">Trucker Snapback</div>
                        <div class="right">Expand/Collapse</div>
                    </div>
                    <div class="hatStyleSelectArea" id="6606TruckerSnapback" style="display:none;">
                        <div class="hatStyleImage">
                            <img src="~/Images/Yupoong/TruckerSnapback/hat_01.jpg" />
                        </div>
                        <div class="hatSizePriceChart">
                            <table class="sizeTable">
                                <tr class="sizeTableHeader">
                                    <td>ONE SIZE</td>
                                </tr>
                                <tr>
                                    <td>6 5/8"-7 5/8"</td>
                                </tr>
                            </table>
                            <table class="priceTable">
                                <tr class="priceTableHeader">
                                    <td>1-23</td>
                                    <td>24</td>
                                    <td>48</td>
                                    <td>96</td>
                                    <td>144</td>
                                    <td>288+</td>
                                </tr>
                                <tr>
                                    <td>$15</td>
                                    <td>$14</td>
                                    <td>$13</td>
                                    <td>$12</td>
                                    <td>$11</td>
                                    <td>$10</td>
                                </tr>
                                <tr>
                                    <td colspan="6"><i>Multicam +$2 More</i></td>
                                </tr>
                            </table>
                        </div>
                        <div class="hatStyleSetQty">
                            <table style="width:50%; float:left;">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>OSFA</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count5 = 0;
                                        foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.Yupoong6606Items)
                                        {
                                            <tr>
                                                <td class="hatPreviewImage"><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                                                <td class="colorOption">@item.ItemColor</td>
                                                @if (item.OSFAStock && item.OSFA)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                            </tr>
                                            if (count5 >= (Model.Yupoong6606Items.Count / 2))
                                            {
                                                count5 = 0;
                                                @Html.Raw("</tbody></table><table style='width: 50%; float:left;'><thead><tr><td></td><td></td><td>OSFA</td></thead><tbody>")
                                            }
                                            else
                                            {
                                                count5++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div><!--/hatStyleSetQty-->
                    </div><!--/hatStyleSelectArea-->
                </div><!--/hatBrandStyleRegion-->
                <div class="hatBrandStyleRegion clear">
                    <div class="hatTitle" onclick="$('#6006').toggle();">
                        <div class="title left">Flat Bill Trucker Snapback</div>
                        <div class="right">Expand/Collapse</div>
                    </div>
                    <div class="hatStyleSelectArea" id="6006" style="display:none;">
                        <div class="hatStyleImage">
                            <img src="~/Images/Yupoong/6006/hat_01.jpg" />
                        </div>
                        <div class="hatSizePriceChart">
                            <table class="sizeTable">
                                <tr class="sizeTableHeader">
                                    <td>ONE SIZE</td>
                                </tr>
                                <tr>
                                    <td>6 5/8"-7 5/8"</td>
                                </tr>
                            </table>
                            <table class="priceTable">
                                <tr class="priceTableHeader">
                                    <td>1-23</td>
                                    <td>24</td>
                                    <td>48</td>
                                    <td>96</td>
                                    <td>144</td>
                                    <td>288+</td>
                                </tr>
                                <tr>
                                    <td>$15</td>
                                    <td>$14</td>
                                    <td>$13</td>
                                    <td>$12</td>
                                    <td>$11</td>
                                    <td>$10</td>
                                </tr>
                                <tr>
                                    <td colspan="6"><i>Multicam +$2 More</i></td>
                                </tr>
                            </table>
                        </div>
                        <div class="hatStyleSetQty">
                            <table style="width:50%; float:left;">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>OSFA</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count6 = 0;
                                        foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.Yupoong6006Items)
                                        {
                                            <tr>
                                                <td class="hatPreviewImage"><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                                                <td class="colorOption">@item.ItemColor</td>
                                                @if (item.OSFAStock && item.OSFA)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                            </tr>
                                            if (count6 >= (Model.Yupoong6006Items.Count / 2))
                                            {
                                                count6 = 0;
                                                @Html.Raw("</tbody></table><table style='width: 50%; float:left;'><thead><tr><td></td><td></td><td>OSFA</td></thead><tbody>")
                                            }
                                            else
                                            {
                                                count6++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div><!--/hatStyleSetQty-->
                    </div><!--/hatStyleSelectArea-->
                </div><!--/hatBrandStyleRegion-->
                <div class="hatBrandStyleRegion clear">
                    <div class="hatTitle" onclick="$('#ShortBeanies').toggle();">
                        <div class="title left">Beanies</div>
                        <div class="right">Expand/Collapse</div>
                    </div>
                    <div class="hatStyleSelectArea" id="ShortBeanies" style="display:none;">
                        <div class="hatStyleImage">
                            <img src="~/Images/Yupoong/ShortBeanies.jpg" />
                        </div>
                        <div class="hatSizePriceChart">
                            <table class="sizeTable">
                                <tr class="sizeTableHeader">
                                    <td>ONE SIZE</td>
                                </tr>
                            </table>
                            <table class="priceTable">
                                <tr class="priceTableHeader">
                                    <td>1-11</td>
                                    <td>12</td>
                                    <td>24</td>
                                    <td>48</td>
                                    <td>96</td>
                                    <td>144+</td>
                                </tr>
                                <tr>
                                    <td>$15</td>
                                    <td>$14</td>
                                    <td>$13</td>
                                    <td>$12</td>
                                    <td>$11</td>
                                    <td>$10</td>
                                </tr>
                            </table>
                        </div>
                        <div class="hatStyleSetQty">
                            <table style="width:50%; float:left;">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>OSFA</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count7 = 0;
                                        foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.YupoongShortBeanieItems)
                                        {
                                            <tr>
                                                <td class="beanieColorCell" style="background:@item.ThumbnailpreviewImagePath;"></td>                                                                            
                                                <td class="colorOption">@item.ItemColor</td>
                                                @if (item.OSFAStock && item.OSFA)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                            </tr>
                                            if (count7 >= (Model.YupoongShortBeanieItems.Count / 2))
                                            {
                                                count7 = 0;
                                                @Html.Raw("</tbody></table><table style='width: 50%; float:left;'><thead><tr><td></td><td></td><td>OSFA</td></thead><tbody>")
                                            }
                                            else
                                            {
                                                count7++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div><!--/hatStyleSetQty-->
                    </div><!--/hatStyleSelectArea-->
                </div><!--/hatBrandStyleRegion-->
                <div class="hatBrandStyleRegion clear">
                    <div class="hatTitle" onclick="$('#CuffedBeanies').toggle();">
                        <div class="title left">Cuffed Beanies</div>
                        <div class="right">Expand/Collapse</div>
                    </div>
                    <div class="hatStyleSelectArea" id="CuffedBeanies" style="display:none;">
                        <div class="hatStyleImage">
                            <img src="~/Images/Yupoong/CuffedBeanies.jpg" />
                        </div>
                        <div class="hatSizePriceChart">
                            <table class="sizeTable">
                                <tr class="sizeTableHeader">
                                    <td>ONE SIZE</td>
                                </tr>
                            </table>
                            <table class="priceTable">
                                <tr class="priceTableHeader">
                                    <td>1-11</td>
                                    <td>12</td>
                                    <td>24</td>
                                    <td>48</td>
                                    <td>96</td>
                                    <td>144+</td>
                                </tr>
                                <tr>
                                    <td>$15</td>
                                    <td>$14</td>
                                    <td>$13</td>
                                    <td>$12</td>
                                    <td>$11</td>
                                    <td>$10</td>
                                </tr>
                            </table>
                        </div>
                        <div class="hatStyleSetQty">
                            <table style="width:50%; float:left;">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>OSFA</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count8 = 0;
                                        foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.YupoongCuffedBeanieItems)
                                        {
                                            <tr>
                                                <td class="beanieColorCell" style="background:@item.ThumbnailpreviewImagePath;"></td>
                                                <td class="colorOption">@item.ItemColor</td>
                                                @if (item.OSFAStock && item.OSFA)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                            </tr>
                                            if (count8 >= (Model.YupoongCuffedBeanieItems.Count / 2))
                                            {
                                                count8 = 0;
                                                @Html.Raw("</tbody></table><table style='width: 50%; float:left;'><thead><tr><td></td><td></td><td>OSFA</td></thead><tbody>")
                                            }
                                            else
                                            {
                                                count8++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div><!--/hatStyleSetQty-->
                    </div><!--/hatStyleSelectArea-->
                </div><!--/hatBrandStyleRegion-->
            </div><!--/hatBrandStyleOptions-->
        </div><!--/hatTypeSelectRegion-->
        <div class="hatTypeSelectRegion">
            <div class="hatBrand" id="Richardson">
                <div class="hatBrandLogo left">
                    <img src="~/Images/richardson.gif" height="60" />
                </div>
            </div>
            <div class="hatBrandStyleOptions clear" id="richardsonStyles">
                <div class="hatBrandStyleRegion clear">
                    <div class="hatTitle" onclick="$('#Richardson112').toggle();">
                        <div class="title left">Richardson 112 Trucker Snapback</div>
                        <div class="right">Expand/Collapse</div>
                    </div>
                    <div class="hatStyleSelectArea" id="Richardson112" style="display:none;">
                        <div class="hatStyleImage">
                            <img src="~/Images/RichardsonHats/hat_01.jpg" />
                        </div>
                        <div class="hatSizePriceChart">
                            <table class="sizeTable">
                                <tr class="sizeTableHeader">
                                    <td>ONE SIZE</td>
                                </tr>
                                <tr>
                                    <td>7"-7 3/4"</td>
                                </tr>
                            </table>
                            <table class="priceTable">
                                <tr class="priceTableHeader">
                                    <td>1-23</td>
                                    <td>24</td>
                                    <td>48</td>
                                    <td>96</td>
                                    <td>144</td>
                                    <td>288+</td>
                                </tr>
                                <tr>
                                    <td>$15</td>
                                    <td>$14</td>
                                    <td>$13</td>
                                    <td>$12</td>
                                    <td>$11</td>
                                    <td>$10</td>
                                </tr>
                            </table>
                        </div>
                        <div class="hatStyleSetQty">
                            <table style="width:50%; float:left;">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>OSFA</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count9 = 0;
                                        foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.Richardson112Items)
                                        {
                                            <tr>
                                                <td class="hatPreviewImage"><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                                                <td class="colorOption">@item.ItemColor</td>
                                                @if (item.OSFAStock && item.OSFA)
                                                {
                                                    <td><input class="colorQty" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                                else
                                                {
                                                    <td><input class="colorQty hidden" type="text" value="0" onChange="updateBulkTotals();" /></td>
                                                }
                                            </tr>
                                            if (count9 >= (Model.Richardson112Items.Count / 2))
                                            {
                                                count9 = 0;
                                                @Html.Raw("</tbody></table><table style='width: 50%; float:left;'><thead><tr><td></td><td></td><td>OSFA</td></thead><tbody>")
                                            }
                                            else
                                            {
                                                count9++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>

                        </div><!--/hatStyleSetQty-->
                    </div><!--/hatStyleSelectArea-->
                </div><!--/hatBrandStyleRegion-->
            </div><!--/hatBrandStyleOptions-->
        </div><!--/hatTypeSelectRegion-->
    </div>
</div>

