@model LidLaunchWebsite.Models.BulkOrder
@using System;
@using System.Web.Script.Serialization;
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<div class="centerInner">
    <h2>ProcessPayment</h2>

    <div>Id: @Model.Id </div>
    <div>Order Date: @Model.OrderDate</div>
    <div>Customer Name: @Model.CustomerName </div>
    <div>Customer Email: @Model.CustomerEmail </div>
    <div>Customer Phone: @Model.CustomerPhone </div>
    <div>Order Notes: @Model.OrderNotes </div>
    <div>Artwork Position: @Model.ArtworkPosition </div>
    <div>Art Source: <a href="~/Images/BulkOrderArtwork/@Model.ArtworkImage" target="_blank"><img src="~/Images/BulkOrderArtwork/@Model.ArtworkImage" style="max-height:100px;max-width:100px;" /></a></div>
    <h2>Order Items:</h2>
    <table>
        <tbody>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Cost</th>
            </tr>
            @foreach (LidLaunchWebsite.Models.BulkOrderItem item in Model.lstItems)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td>@item.ItemQuantity</td>
                    <td>$@item.ItemCost</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Order Total: $@Model.OrderTotal </h2>


    <span id="productList" style="display:none;">
        [
        @{ int count = 1; }
        @foreach (LidLaunchWebsite.Models.BulkOrderItem item in Model.lstItems)
        {
            var jsonString = "";
            if (count == Model.lstItems.Count) {
                jsonString = "{\"name\":\"" + item.ItemName + "\",\"quantity\":\"" + item.ItemQuantity + "\",\"price\":\"" + item.ItemCost + "\",\"currency\":\"USD\"}";
            } else {
                jsonString = "{\"name\":\"" + item.ItemName + "\",\"quantity\":\"" + item.ItemQuantity + "\",\"price\":\"" + item.ItemCost + "\",\"currency\":\"USD\"},";
            }

            @jsonString
            count++;
        }
        ]
    </span>

    <a href="javascript:void(0);" onclick="processBulkPaymentShowPaypal(@Model.OrderTotal,'@Model.PaymentCompleteGuid');"><div id="PayNow">Pay Now</div></a>
</div>


<div id="paypalPaymentButtonsPopup" style="display:none;">
    <div id="paypalPaymentButtonsInner">
        <h1>Pay now using PayPal</h1>
        <h2>A PayPal account is not required.</h2>
        <div id="paypal-button-container-bulk"></div>
        <div style="margin-top:30px;">
            If Paying by credit/debit card click <b>PayPal</b> above and select the button outlined below. You do not need a PayPal account to check out.
            <br /><br />
            <img src="~/Images/PayWithDebit-CreditCard.png" width="500" />
        </div>
    </div>
</div>

