<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Create and Sell custom emdroiderd hats on Lidlaunch.com. Make money selling hats online today.">
    <meta name="keywords" content="Custom Flexfit hats, Custom emdroidered hats, Sell hats online, Sell custome hats, Make money selling hats online">
    <link rel="apple-touch-icon" sizes="57x57" href="~/Images/Icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Images/Icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Images/Icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Images/Icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Images/Icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Images/Icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Images/Icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Images/Icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Images/Icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Images/Icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/Icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Images/Icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/Icons/favicon-16x16.png">
    <link rel="manifest" href="~/Images/Icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Images/Icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/User.js")
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/cupertino/jquery-ui.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    @Scripts.Render("~/Scripts/CommonFunctions.js")
    @Scripts.Render("~/Scripts/HatCreation.js")
    @Scripts.Render("~/Scripts/Designer.js")
    @Scripts.Render("~/Scripts/Product.js")
    @Scripts.Render("~/Scripts/Cart.js?v2")
    @Scripts.Render("~/Scripts/Bulk.js?v3")
    @Scripts.Render("~/Scripts/Dashboard.js?v2")
    @Scripts.Render("~/Scripts/Checkout.js?v2")
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KF9TN3B');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116128249-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-116128249-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '450717395469044');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=450717395469044&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KF9TN3B"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div>
        @*<div id="backgroundVideo">
                <video autoplay loop muted>
                    <source src="@Url.Content("~/Images/BackgroundVideo.mp4")" type="video/mp4" />
                </video>
            </div>*@
        <div id="wrapper">
            <div id="InnerWrapperContent">
                <div id="header">
                    <div class="centerInner">
                        <div id="logo">
                            <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Images/LogoSmall.png")" /></a>
                        </div><!--/logo-->
                        <div id="topSearch">
                            <input type="text" id="searchTop" placeholder="search..." />
                        </div>
                        <div id="navigation">
                            <ul>
                                <li>@Html.ActionLink("Order Now", "Index", "Bulk")</li>
                                @*<li>@Html.ActionLink("Shop", "Index", "Shop")</li>*@
                                <li style="border-right:none;">@Html.ActionLink("Order Status", "OrderLookup", "Bulk")</li>
                                @*<li id="desktopCreate">@Html.ActionLink("Create", "GetStarted", "Create")</li>
        <li id="mobileCreate" onclick="displayPopupNotification('Please use a computer to create your hat design. If you are already on a computer please increase the window size.', 'error', false);"><a href="#">Create</a></li>*@

                                @if (Convert.ToInt32(Session["UserID"]) > 0)
                                {
                                    <li  style="border:0;">
                                        <a href="#" onclick="showProfileLinks();"><img src="~/Images/ProfileLink.png" alt="Profile" width="40" /></a>
                                        <ul id="profileMenu" style="display:none;">
                                            <li>@Html.ActionLink("Dashboard", "Designer", "Dashboard")</li>
                                            <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                                            @if (Convert.ToInt32(Session["UserID"]) == 1 || Convert.ToInt32(Session["UserID"]) == 643 || Convert.ToInt32(Session["UserID"]) == 1579)
                                            {
                                                <li>@Html.ActionLink("Admin Panel", "AdminPanel", "Dashboard")</li>

                                            }
                                            @if (Convert.ToString(Session["UserEmail"]) == "digitizing@lidlaunch.com")
                                            {
                                                <li>@Html.ActionLink("Bulk Digitizing", "BulkDigitizing", "Dashboard")</li>
                                            }
                                        </ul>
                                    </li>

                                }
                                @*<li class="last">
                                    <div onclick="window.location = '/Cart/Cart'">
                                        <img src="~/Images/shopping-cart (1).png" style="width:35px; height:35px" class="cartIcon" />
                                        <div><span id="cartTotal">@Convert.ToInt32(@Session["TotalCartQuantity"])</span> Items</div>
                                    </div>
                                </li>*@
                            </ul>
                        </div><!--/navigation-->
                    </div><!--/centerInner-->
                </div><!--/header-->
                <div id="mobileNav" onclick="showNav();" class="hidden">
                    <div id="categoryLable"><img src="~/Images/hamburger.png" /> Categories</div>
                </div>
                <div class="mainNavigation hidden">
                    <div class="centerInner">
                        @{
                            Html.RenderAction("Menu", "Home");
                        }
                    </div><!--/centerInner-->
                </div><!--/mainNavigation-->
                <div id="content">
                    @RenderBody()
                </div><!--/content-->

            </div>
        </div>

        <div id="footer">
            <div id="footerContent">
                <div class="left50">
                    <ul>
                        <li><a href="~/Bulk">Order</a></li>
                        <li class="hidden"><a href="~/Shop">Shop</a></li>
                        <li class="hidden"><a href="~/Create/GetStarted">Sell Your Designs</a></li>
                        <li><a href="~/Terms/TermsAndConditions">Terms & Conditions</a></li>
                        <li><a href="~/Terms/Returns">Returns</a></li>
                        <li><a href="~/Terms/Privacy">Privacy</a></li>
                        <li><a href="~/Terms/TermsOfSalesAndDelivery">Terms of Sales and Delivery</a></li>
                        <li><a href="~/Terms/DesignerPayouts">Designer Payouts</a></li>
                        <li>@Html.ActionLink("Login", "Login", "User")</li>
                    </ul>
                </div>
                <div class="left50">
                    <div style="margin:0 auto; width:175px; text-align:center;">
                        <p>Embroidered in the <b>USA</b>!</p>
                        <img src="~/Images/America.png" height="100" /><br />
                        <p>Contact us - support@lidlaunch.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="minFooter">
            <img src="@Url.Content("~/Images/min.png")" height="30" />
        </div><!--/footer-->
        <!-- Start of lidlaunch Zendesk Widget script -->
        <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=90c7e64e-0eef-4c2f-9b33-1c8c9d976ff7"></script>
        <!-- End of lidlaunch Zendesk Widget script -->
    </div>
    <div id="errorNotifcation" title="Error" style="display:none;">
        <div id="errorContent">

        </div>
    </div>
    <div id="loadingPanel" style="display:none;">
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
