@model LidLaunchWebsite.Models.Cart
@{
    ViewBag.Title = "Lid Launch - Your Shopping Cart";
}
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<div id="CreateDetails" ng-controller="CartController as cart" ng-init="cart.GetCart()" style="min-height:800px;">
    <div class="cartContainer">
        <div id="cartHeader">Your Cart</div>
        <div class="cartDetails">
            @if (Model.lstProducts.Count != 0)
            {
                string productList = "[";
                foreach (LidLaunchWebsite.Models.Product product in Model.lstProducts)
                {

                    productList = productList + "{\"name\":\"" + product.Name + " - " + product.TypeText + " - Size: " + product.Size + "\",\"quantity\":\"" + product.Quantity + "\",\"price\":\"" + 19.99 + "\",\"currency\":\"USD\"},";

                    <div class="productRow">
                        <img src="~/Images/DesignImages/InUse/@product.Design.PreviewImage" width="100" class="productImage" />
                        <span class="productDetails">
                            <div class="cartGuid hidden">@product.CartGuid</div>
                            <div class="productName">@product.Name</div>
                            <div class="productPrice">$@(product.Quantity * 19.99)</div>
                            <div class="productType">Type: @product.TypeText</div>
                            <div class="productQty">Quantity: @product.Quantity</div>
                            <div class="productSize">Size: @product.Size</div>
                            <button class="removeButton" onclick="RemoveItemFromCart(this);">Remove</button>
                        </span>
                    </div>
                }
                productList = productList + "{\"name\":\"Shipping\",\"quantity\":\"1\",\"price\":\"" + Model.Shipping + "\",\"currency\":\"USD\"}]";
                <span id="productList" class="hidden">@productList</span>
            }
            else
            {
                <div class="productRow">
                    <h2>You currently do not have any products.. Get to shopping!</h2>
                </div>
            }
        </div>
        @if (Model.lstProducts.Count != 0)
        {
            <div class="cartSummary">
                <div id="totalHeader">Totals</div>
                <table id="totalTable">
                    <tr>
                        <td>Sub Total:</td>
                        <td style="text-align:right;">$@Model.Total</td>
                    </tr>
                    <tr id="tax" class="hidden">
                        <td>Taxes:</td>
                        <td style="text-align:right;">$1.05</td>
                    </tr>
                    <tr>
                        <td>Shipping:</td>
                        <td style="text-align:right;">$@Model.Shipping</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Total:</td>
                        <td style="text-align:right; font-weight:bold;">$<span id="lblTotal">@Model.TotalWithShipping</span></td>
                    </tr>
                </table>
                <a href="javascript:void(0);" onclick="$('#customerInfoPopup').show(); $(window).scrollTop(0);"><div id="PayNow">Complete Order</div></a>
            </div>
        }



    </div>
</div>
<div id="customerInfoPopup" style="display:none;">
    <div id="customerInformation">
        <div id="infoContent">
            <div id="customerInfo">
                <div class="close" onclick="$('#customerInfoPopup').hide();" style="color:black;">X</div>
                <table>
                    <tr>
                        <td colspan="2"><b>Your Information:</b></td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td><input type="text" id="txtFirstName" /></td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td><input type="text" id="txtLastName" /></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" id="txtEmail" /></td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td><input type="text" id="txtPhone" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Shipping Address:</b></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><input type="text" id="txtAddress" /></td>
                    <tr>
                        <td>City:</td>
                        <td><input type="text" id="txtCity" /></td>
                    </tr>
                    <tr>
                        <td>State:</td>
                        <td>
                            <select id="txtState">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Zip:</td>
                        <td><input type="text" id="txtZip" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Billing Address</b></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="checkbox" id="chkSameAsShipping" /> Same As Shipping</td>
                    </tr>
                    <tr id="billingAddress">
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td>Address:</td>
                                    <td><input type="text" id="txtAddressBill" /></td>
                                </tr>
                                <tr>
                                    <td>City:</td>
                                    <td><input type="text" id="txtCityBill" /></td>
                                </tr>
                                <tr>
                                    <td>State:</td>
                                    <td>
                                        <select id="txtStateBill">
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Zip:</td>
                                    <td><input type="text" id="txtZipBill" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr id="priceRow">
                        <td colspan="2">
                            <h2>TOTAL - $@Model.TotalWithShipping</h2>
                        </td>
                    </tr>
                </table>
                <a href="#logo"><div id="PayNow" onclick="showPaypalButtons();">Pay Now With Paypal</div></a>
            </div><!--/customerInfo-->

            <div id="paypalButtons" class="hidden">
                <h1>Select a payment option below</h1>
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </div>
</div>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="hidden">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="YGM642QKHYWE8">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" id="OrderInfo" name="item_name" value="Lid Launch Order">
    <input type="hidden" id="OrderAmmount" name="amount" value="1.00">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="1">
    <input type="hidden" name="no_shipping" value="2">
    <input type="hidden" name="rm" value="1">
    <input type="hidden" name="quantity" value="1" />
    <input type="hidden" id="ReturnURL" name="return" value="http://lidlaunch.com/cart/payment">
    <input type="hidden" name="cancel_return" value="http://lidlaunch.com/cart/cancel">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
    <table>
        <tr><td><input type="hidden" name="on0" value="Order Information"></td></tr>
        <tr><td><input type="text" name="os0" id="orderInformation" maxlength="200"></td></tr>
    </table>
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" id="paypalButton">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">    
</form>


