@model LidLaunchWebsite.Models.Cart
@{
    ViewBag.Title = "LidLaunch - Your Shopping Cart";
}
<!--/sandbox client id-->
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<span id="isBulkOrder" class="hidden">false</span>

<div id="CreateDetails" style="min-height:800px;">
    <div class="cartContainer">
        <div id="cartHeader">Your Cart</div>
        <div class="cartDetails">
            @if (Model.lstProducts.Count != 0)
            {
                string productList = "[";
                foreach (LidLaunchWebsite.Models.Product product in Model.lstProducts)
                {

                    productList = productList + "{\"name\":\"" + product.Name + " - " + product.TypeText + " - Size: " + product.Size + "\",\"quantity\":\"" + product.Quantity + "\",\"price\":\"" + product.Price + "\",\"currency\":\"USD\"},";

                    <div class="productRow">
                        <img src="~/Images/DesignImages/InUse/@product.Design.PreviewImage" width="100" class="productImage" />
                        <span class="productDetails">
                            <div class="cartGuid hidden">@product.CartGuid</div>
                            <div class="productName">@product.Name</div>
                            <div class="productPrice">$@(product.Quantity * Convert.ToDecimal(product.Price))</div>
                            <div class="productType">Type: @product.TypeText</div>
                            <div class="productQty">Quantity: @product.Quantity</div>
                            <div class="productSize">Size: @product.Size</div>
                            <button class="removeButton" onclick="RemoveItemFromCart(this);">Remove</button>
                        </span>
                    </div>
                }
                productList = productList.TrimEnd(',');
                productList = productList + "]";
                <span id="productList" class="hidden">@productList</span>
                <span id="shippingCost" class="hidden">@Model.Shipping</span>
            }
            else
            {
                <div class="productRow">
                    <h2>You currently do not have any products.. Get to shopping!</h2>
                </div>
            }
        </div>
        @if (Model.lstProducts.Count != 0)
        {
            <div class="cartSummary">
                <div id="totalHeader">Totals</div>
                <table id="totalTable">
                    <tr>
                        <td>Sub Total:</td>
                        <td style="text-align:right;">$<span id="subTotal">@Model.Total</span></td>
                    </tr>
                    <tr id="tax" class="hidden">
                        <td>Taxes:</td>
                        <td style="text-align:right;">$1.05</td>
                    </tr>
                    <tr>
                        <td>Shipping:</td>
                        <td style="text-align:right;">$<span id="shippingCost">@Model.Shipping</span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Total:</td>
                        <td style="text-align:right; font-weight:bold;">$<span id="lblTotal">@Model.TotalWithShipping</span></td>
                    </tr>
                </table>
                <a href="javascript:void(0);" onclick="$('#checkoutPopoup').show(); $(window).scrollTop(0); trackCartPixel(@Model.lstProducts.Select(i => i.Quantity).Sum() , @Model.TotalWithShipping)"><div id="PayNow">Check Out</div></a>
            </div>
        }



    </div>
</div>
<div id="checkoutPopoup" style="display:none;">
    <div class="centerInner">
        <div class="close" onclick="$('#checkoutPopoup').hide();" style="color:black;">X</div>
        <div id="checkoutHolderLeft">
            <div id="chckoutWizzard">
                @{ Html.RenderPartial("ProcessPayment", Model); }
            </div>        
            <div id="paypalButtons" class="hidden">
                <h1>Select a payment option below</h1>
                <div id="paypal-button-container"></div>
            </div>
        </div>
        <div id="checkoutHolderRight">
            <table class="checkOutCartItems">
                @if (Model.lstProducts.Count != 0)
                {

                    foreach (LidLaunchWebsite.Models.Product product in Model.lstProducts)
                    {
                        <tr>
                            <td class=""><img src="~/Images/DesignImages/InUse/@product.Design.PreviewImage" width="75" class="productImage" /></td>
                            <td class="">@product.Quantity x @product.Name</td>
                            <td class="">@product.TypeText - @product.Size</td>
                            <td style="text-align:right;">$@(product.Quantity * Convert.ToDecimal(product.Price))</td>
                        </tr>
                    }
                }
                <tr><td colspan="4"><hr /></td></tr>
                <tr>
                    <td colspan="3">Sub Total:</td>
                    <td style="text-align:right;">$@Model.Total</td>
                </tr>
                <tr>
                    <td colspan="3">Shipping:</td>
                    <td style="text-align:right;">$@Model.Shipping</td>
                </tr>
                <tr><td colspan="4"><hr /></td></tr>
                <tr>
                    <td colspan="3" style="font-weight:bold;">Total:</td>
                    <td style="text-align:right; font-weight:bold;">$<span id="lblTotal">@Model.TotalWithShipping</span></td>
                </tr>
            </table>
        </div>

        @*<a href="#logo"><div id="PayNow" onclick="showPaypalButtons();">Pay Now With Paypal</div></a>*@
    </div><!--/cetnerInner-->
</div><!--/checkoutPopup-->




<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="hidden">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="YGM642QKHYWE8">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" id="OrderInfo" name="item_name" value="LidLaunch Order">
    <input type="hidden" id="OrderAmount" name="amount" value="1.00">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="1">
    <input type="hidden" name="no_shipping" value="2">
    <input type="hidden" name="rm" value="1">
    <input type="hidden" name="quantity" value="1" />
    <input type="hidden" name="solution_type" value="sole">
    <input type="hidden" name="landing_page" value="billing">
    <input type="hidden" name="user_selected_funding_source" value="credit card">
    <input type="hidden" id="ReturnURL" name="return" value="http://lidlaunch.com/cart/payment">
    <input type="hidden" name="cancel_return" value="http://lidlaunch.com/cart/cancel">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
    <table>
        <tr><td><input type="hidden" name="on0" value="Order Information"></td></tr>
        <tr><td><input type="text" name="os0" id="orderInformation" maxlength="200"></td></tr>
    </table>
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" id="paypalButton">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


