@model LidLaunchWebsite.Models.BulkOrder
@{
    ViewBag.Title = "BulkOrderDetailsPopup";
}

<div id="bulkOrderDetailsPopup">
    <div id="bulkOrderDetailsPopupContent">
        <div id="TopInfoBar">
            <div id="BulkOrderId">@Model.Id</div>
            <div id="BulkOrderDate">Payment Date: @Model.PaymentDate <span onclick="$('#bulkOrderDetailsPopup').hide();" class="closeButton">X</span></div>
            
        </div>
        <div id="bulkOrderDetails">
            <h3>Order Details</h3>
            <table>
                <tr>
                    <td>Customer:</td>
                    <td>@Model.CustomerName - @Model.CustomerEmail</td>
                </tr>
                <tr>
                    <td>Customer Notes:</td>
                    <td>@Model.OrderNotes</td>
                </tr>
                <tr>
                    <td>Artwork Position:</td>
                    <td>@Model.ArtworkPosition</td>
                </tr>
                <tr>
                    <td>Art Source:</td>
                    <td><img src="~/Images/BulkOrderArtwork/@Model.ArtworkImage" style="max-height:200px; max-width:200px;" /></td>
                </tr>
                <tr>
                    <td>Order Total:</td>
                    <td>@Model.OrderTotal</td>
                </tr>
                <tr>
                    <td>Order Paid:</td>
                    <td>@Model.OrderPaid</td>
                </tr>
                <tr>
                    <td>Payment Link:</td>
                    <td><a href="https://lidlaunch.com/bulk/orderstatus?id=@Model.PaymentGuid" target="_blank">Pay Link</a></td>
                </tr>
                <tr>
                    <td>Shipped:</td>
                    <td><input type="text" placeholder="tracking #" id="txtTrackingNumber" value="@Model.TrackingNumber"/><input type="button" value="Mark Order As Shipped" class="smallButton" onclick="setBulkOrderAsShipped(@Model.Id)"/></td>
                </tr>
            </table>  
        </div><!--/bulkOrderDetails-->
        <div id="bulkOrderItems">
            <h3>Order Items</h3>
            <table>
                <thead>
                    <tr>
                        <td>Item</td>
                        <td>Qty</td>
                        <td>Price</td>
                        <td>Design Id</td>
                        <td>Add Note</td>
                    </tr>
                <tbody>
                    @foreach (LidLaunchWebsite.Models.BulkOrderItem item in Model.lstItems)
                    {
                        <tr>
                            <td>@item.ItemName</td>
                            <td>@item.ItemQuantity</td>
                            <td>@item.ItemCost</td>
                            <td>@item.DesignId</td>
                            <td><a href="javascript:void(0);" onclick="$('#noteHolder').load(addNoteUrl, { bulkOrderId: 0, bulkOrderItemId: @item.Id , designId: 0, parentBulkOrderId: @Model.Id });"><input type="button" value="Add Note" class="smallButton"/></a></td>
                        </tr>
                        foreach (LidLaunchWebsite.Models.Note note in item.lstNotes)
                        {
                            <tr>
                                <td></td>
                                <td colspan="2"><i class="noteDate">@note.CreatedDate</i> : @note.Text</td>
                                <td>@note.Attachment</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div><!--/bulkOrderItems-->
        <div id="bulkOrderNotes">
            <h3>Order Notes</h3>
            <table>
                @foreach (LidLaunchWebsite.Models.Note note in Model.lstNotes)
                {
                    <tr>
                        <td></td>
                        <td colspan="3"><i class="noteDate">@note.CreatedDate</i> : @note.Text</td>
                        <td>@note.Attachment</td>
                    </tr>
                }
            </table>
            <a href="javascript:void(0);" onclick="$('#noteHolder').load(addNoteUrl, { bulkOrderId: @Model.Id, bulkOrderItemId: 0 , designId: 0, parentBulkOrderId: @Model.Id });"><input type="button" value="Add Note" class="smallButton" /></a>
        </div>
        <div id="bulkOrderDesigns">
            <h3>Designs</h3>
            <a href="javascript:void(0);" onclick="$('#bulkDesignSelectHolder').load(selectBulkDesignUrl);"><input type="button" class="smallButton" value="SELECT PRE-EXISTING DESIGN"/></a>
            <table>
                <thead>
                    <tr>
                        <td>Art Source</td>
                        <td>Height</td>
                        <td>Width</td>
                        <td>Embroidery File</td>
                        <td>Transparent Preview</td>
                        <td>Production File</td>
                        <td>EMB File</td>
                        <td>Add Note</td>
                    </tr>
                </thead>
                @foreach (LidLaunchWebsite.Models.Design design in Model.lstDesigns)
                {
            <tr>
                <td><a href="~/Images/BulkOrderArtwork/@design.ArtSource" target="_blank">Art Source</a></td>
                <td>@design.Height</td>
                <td>@design.Width</td>
                <td><a href="~/Images/DesignImages/Digitizing/DST/@design.DigitizedFile" class="EmbroideryFileName" target="_blank">@design.DigitizedFile</a></td>
                <td><a href="~/Images/DesignImages/Digitizing/Preview/@design.DigitizedPreview" class="TransparentPreviewName" target="_blank"><img src="~/Images/DesignImages/Digitizing/Preview/@design.DigitizedPreview" height="200" /></a></td>
                <td><a href="~/Images/DesignImages/Digitizing/Info/@design.DigitizedProductionSheet" class="InfoFileName" target="_blank">@design.DigitizedProductionSheet</a></td>
                <td><a href="~/Images/DesignImages/Digitizing/EMB/@design.EMBFile" class="EMBFileName" target="_blank">@design.EMBFile</a></td>
                <td><a href="javascript:void(0);" onclick="$('#noteHolder').load(addNoteUrl, { bulkOrderId: 0, bulkOrderItemId: 0, designId: @design.Id, parentBulkOrderId: @Model.Id });"><input type="button" value="Add Note" class="smallButton" /></a></td>
            </tr>
                    if (design.lstNotes.Count > 0)
                    {
                        foreach (LidLaunchWebsite.Models.Note note in design.lstNotes)
                        {
                            <tr>
                                <td></td>
                                <td colspan="3"><i class="noteDate">@note.CreatedDate</i> : @note.Text</td>
                                <td>@note.Attachment</td>
                            </tr>
                        }
                    }


                }

            </table>
        </div>
        <div id="noteHolder"></div>
        <div id="bulkDesignSelectHolder"></div>
        
    </div><!--bulkOrderDetailsPopupContent-->
</div><!--/bulkOrderDetailsPopup-->
<script type="text/javascript">
    var addNoteUrl = '@Url.Action("AddNote", "Dashboard")';
    var selectBulkDesignUrl = '@Url.Action("SetBulkDesign", "Dashboard")';
</script>

