
@{
    ViewBag.Title = "BulkOrderItemAvailabilty";
}

<style type="text/css">
    .check {
        width: 40px;
        height: 40px;
    }

    .availableTable {
        display: inline-table;
        width: 580px;
        border-right: 5px solid #000;
    }

    .regionInner {
        max-width: 100%;
        overflow: scroll;
        width: 100%;
    }
</style>
<div id="flexFit6277Region">
    <div class="regionHeader" onclick="$('#6277Inner').toggle();">
        <h2>FlexFit 6277</h2>
        <img src="~/Images/FlexFit6277/hat_01.jpg" />
    </div>
    <div id="6277Inner" class="regionInner">
        <table class="availableTable">
            <tr style="font-weight:bold;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>S/M</td>
                <td>L/XL</td>
                <td>XL/XXL</td>
                <td>Available</td>
            </tr>
            @{
                var count = 0;
                foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.FlexFit6277Items)
                {
                    <tr>
                        <td><span class="itemId">@item.Id</span></td>
                        <td><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                        <td>@item.ItemName</td>
                        <td>@item.ItemColor</td>
                        @if (item.SM)
                        {
                            <td>@(item.SMStock ? Html.Raw("<input class='smCheck check' type='checkbox' checked />") : Html.Raw("<input class='smCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.LXL)
                        {
                            <td>@(item.LXLStock ? Html.Raw("<input class='lxlCheck check' type='checkbox' checked />") : Html.Raw("<input class='lxlCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.XLXXL)
                        {
                            <td>@(item.XLXXLStock ? Html.Raw("<input class='xlxxlCheck check' type='checkbox' checked />") : Html.Raw("<input class='xlxxlCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Available)
                        {
                            <td><input class='available check' type='checkbox' checked /></td>
                        }
                        else
                        {
                            <td><input class='available check' type='checkbox' /></td>
                        }
                        <td><input type="button" class="smallButton" onclick="updateMasteItem(@item.Id, $(this).closest('tr').find('.smCheck').prop('checked'), $(this).closest('tr').find('.lxlCheck').prop('checked'), $(this).closest('tr').find('.xlxxlCheck').prop('checked'), false, $(this).closest('tr').find('.available').prop('checked'));" value="Save" /></td>

                    </tr>
                    if (count >= (Model.FlexFit6277Items.Count / 4))
                    {
                        count = 0;
                        @Html.Raw("</table><table class='availableTable'><tr style='font-weight:bold;'><td></td><td></td><td></td><td></td><td>S/M</td><td>L/XL</td><td>XL/XXL</td><td>Available</td>")
                    }
                    else
                    {
                        count++;
                    }
                }
            }
        </table>
    </div>
</div>
<div id="flexFit6511Region">
    <div class="regionHeader" onclick="$('#6511Inner').toggle();">
        <h2>FlexFit 6511/6311</h2>
        <img src="~/Images/FlexFit6511/hat_01.jpg" />
    </div>
    <div id="6511Inner" class="regionInner">
        <table class="availableTable">
            <tr style="font-weight:bold;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>OSFA</td>
                <td>Available</td>
            </tr>
            @{
                var count1 = 0;
                foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.FlexFit6511Items)
                {
                    <tr>
                        <td><span class="itemId">@item.Id</span></td>
                        <td><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                        <td>@item.ItemName</td>
                        <td>@item.ItemColor</td>
                        @if (item.OSFA)
                        {
                            <td>@(item.OSFAStock ? Html.Raw("<input class='osfaCheck check' type='checkbox' checked />") : Html.Raw("<input class='osfaCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Available)
                        {
                            <td><input class='available check' type='checkbox' checked /></td>
                        }
                        else
                        {
                            <td><input class='available check' type='checkbox' /></td>
                        }
                        <td><input type="button" class="smallButton" onclick="updateMasteItem(@item.Id, false, false, false, $(this).closest('tr').find('.osfaCheck').prop('checked'), $(this).closest('tr').find('.available').prop('checked'));" value="Save" /></td>

                    </tr>
                    if (count1 >= (Model.FlexFit6511Items.Count / 4))
                    {
                        count1 = 0;
                        @Html.Raw("</table><table class='availableTable'><tr style='font-weight:bold;'><td></td><td></td><td></td><td></td><td>OSFA</td><td>Available</td>")
                    }
                    else
                    {
                        count1++;
                    }
                }
            }
        </table>
    </div>
</div>
<div id="flexFit110Region">
    <div class="regionHeader" onclick="$('#110Inner').toggle();">
        <h2>FlexFit 110M</h2>
        <img src="~/Images/FlexFit110/hat_01.jpg" />
    </div>
    <div id="110Inner" class="regionInner">
        <table class="availableTable">
            <tr style="font-weight:bold;">
                <td></td>
                <td></td>
                <td></td>
                <td>OSFA</td>
                <td>Available</td>
            </tr>
            @{
                var count2 = 0;
                foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.FlexFit110Items)
                {
                    <tr>
                        <td><span class="itemId">@item.Id</span></td>
                        <td><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                        <td>@item.ItemColor</td>
                        @if (item.OSFA)
                        {
                            <td>@(item.OSFAStock ? Html.Raw("<input class='osfaCheck check' type='checkbox' checked />") : Html.Raw("<input class='osfaCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Available)
                        {
                            <td><input class='available check' type='checkbox' checked /></td>
                        }
                        else
                        {
                            <td><input class='available check' type='checkbox' /></td>
                        }
                        <td><input type="button" class="smallButton" onclick="updateMasteItem(@item.Id, false, false, false, $(this).closest('tr').find('.osfaCheck').prop('checked'), $(this).closest('tr').find('.available').prop('checked'));" value="Save" /></td>

                    </tr>
                    if (count2 >= (Model.FlexFit110Items.Count / 4))
                    {
                        count2 = 0;
                        @Html.Raw("</table><table class='availableTable'><tr style='font-weight:bold;'><td></td><td></td><td></td><td>OSFA</td><td>Available</td>")
                    }
                    else
                    {
                        count2++;
                    }
                }
            }
        </table>
    </div>
</div>
<div id="fleFitFatBill">
    <div class="regionHeader" onclick="$('#6297Inner').toggle();">
        <h2>FlexFit 6297 Flat Bill Fitted</h2>
        <img src="~/Images/FlexFit210/hat_01.jpg" />
    </div>
    <div id="6297Inner" class="regionInner">
        <table class="availableTable">
            <tr style="font-weight:bold;">
                <td></td>
                <td></td>
                <td></td>
                <td>S/M</td>
                <td>L/XL</td>
                <td>Available</td>
            </tr>
            @foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.FlexFit6297Items)
            {
                <tr>
                    <td><span class="itemId">@item.Id</span></td>
                    <td><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                    <td>@item.ItemColor</td>
                    @if (item.SM)
                    {
                        <td>@(item.SMStock ? Html.Raw("<input class='smCheck check' type='checkbox' checked />") : Html.Raw("<input class='smCheck check' type='checkbox'/>"))</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (item.LXL)
                    {
                        <td>@(item.LXLStock ? Html.Raw("<input class='lxlCheck check' type='checkbox' checked />") : Html.Raw("<input class='lxlCheck check' type='checkbox'/>"))</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (item.Available)
                    {
                        <td><input class='available check' type='checkbox' checked /></td>
                    }
                    else
                    {
                        <td><input class='available check' type='checkbox' /></td>
                    }
                    <td><input type="button" class="smallButton" onclick="updateMasteItem(@item.Id, $(this).closest('tr').find('.smCheck').prop('checked'), $(this).closest('tr').find('.lxlCheck').prop('checked'), false, false, $(this).closest('tr').find('.available').prop('checked'));" value="Save" /></td>

                </tr>
            }
        </table>
    </div>
</div>

<div id="6089Region">
    <div class="regionHeader" onclick="$('#6089Inner').toggle();">
        <h2>Yupoong 6089M</h2>
        <img src="~/Images/Yupoong/6089/hat_01.jpg" />
    </div>
    <div id="6089Inner" class="regionInner">
        <table class="availableTable">
            <tr style="font-weight:bold;">
                <td></td>
                <td></td>
                <td></td>
                <td>OSFA</td>
                <td>Available</td>
            </tr>
            @{
                var count3 = 0;
                foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.Yupoong6089Items)
                {
                    <tr>
                        <td><span class="itemId">@item.Id</span></td>
                        <td><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                        <td>@item.ItemColor</td>
                        @if (item.OSFA)
                        {
                            <td>@(item.OSFAStock ? Html.Raw("<input class='osfaCheck check' type='checkbox' checked />") : Html.Raw("<input class='osfaCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Available)
                        {
                            <td><input class='available check' type='checkbox' checked /></td>
                        }
                        else
                        {
                            <td><input class='available check' type='checkbox' /></td>
                        }
                        <td><input type="button" class="smallButton" onclick="updateMasteItem(@item.Id, false, false, false, $(this).closest('tr').find('.osfaCheck').prop('checked'), $(this).closest('tr').find('.available').prop('checked'));" value="Save" /></td>

                    </tr>
                    if (count3 >= (Model.Yupoong6089Items.Count / 4))
                    {
                        count3 = 0;
                        @Html.Raw("</table><table class='availableTable'><tr style='font-weight:bold;'><td></td><td></td><td></td><td>OSFA</td><td>Available</td>")
                    }
                    else
                    {
                        count3++;
                    }
                }
            }
        </table>
    </div>
</div>


<div id="DadCapRegion">
    <div class="regionHeader" onclick="$('#DadCapInner').toggle();">
        <h2>Yupoong Dad Cap</h2>
        <img src="~/Images/Yupoong/DadCap/hat_01.jpg" />
    </div>
    <div id="DadCapInner" class="regionInner">
        <table class="availableTable">
            <tr style="font-weight:bold;">
                <td></td>
                <td></td>
                <td></td>
                <td>OSFA</td>
                <td>Available</td>
            </tr>
            @{
                var count4 = 0;
                foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.YupoongDadCapItems)
                {
                    <tr>
                        <td><span class="itemId">@item.Id</span></td>
                        <td><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                        <td>@item.ItemColor</td>
                        @if (item.OSFA)
                        {
                            <td>@(item.OSFAStock ? Html.Raw("<input class='osfaCheck check' type='checkbox' checked />") : Html.Raw("<input class='osfaCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Available)
                        {
                            <td><input class='available check' type='checkbox' checked /></td>
                        }
                        else
                        {
                            <td><input class='available check' type='checkbox' /></td>
                        }
                        <td><input type="button" class="smallButton" onclick="updateMasteItem(@item.Id, false, false, false, $(this).closest('tr').find('.osfaCheck').prop('checked'), $(this).closest('tr').find('.available').prop('checked'));" value="Save" /></td>

                    </tr>
                    if (count4 >= (Model.YupoongDadCapItems.Count / 4))
                    {
                        count4 = 0;
                        @Html.Raw("</table><table class='availableTable'><tr style='font-weight:bold;'><td></td><td></td><td></td><td>OSFA</td><td>Available</td>")
                    }
                    else
                    {
                        count4++;
                    }
                }
            }
        </table>
    </div>
</div>


<div id="6606Region">
    <div class="regionHeader" onclick="$('#6606Inner').toggle();">
        <h2>Yupoong 6606 Trucker Snapback</h2>
        <img src="~/Images/Yupoong/TruckerSnapback/hat_01.jpg" />
    </div>
    <div id="6606Inner" class="regionInner">
        <table class="availableTable">
            <tr style="font-weight:bold;">
                <td></td>
                <td></td>
                <td></td>
                <td>OSFA</td>
                <td>Available</td>
            </tr>
            @{
                var count5 = 0;
                foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.Yupoong6606Items)
                {
                    <tr>
                        <td><span class="itemId">@item.Id</span></td>
                        <td><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                        <td>@item.ItemColor</td>
                        @if (item.OSFA)
                        {
                            <td>@(item.OSFAStock ? Html.Raw("<input class='osfaCheck check' type='checkbox' checked />") : Html.Raw("<input class='osfaCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Available)
                        {
                            <td><input class='available check' type='checkbox' checked /></td>
                        }
                        else
                        {
                            <td><input class='available check' type='checkbox' /></td>
                        }
                        <td><input type="button" class="smallButton" onclick="updateMasteItem(@item.Id, false, false, false, $(this).closest('tr').find('.osfaCheck').prop('checked'), $(this).closest('tr').find('.available').prop('checked'));" value="Save" /></td>

                    </tr>
                    if (count5 >= (Model.Yupoong6606Items.Count / 4))
                    {
                        count5 = 0;
                        @Html.Raw("</table><table class='availableTable'><tr style='font-weight:bold;'><td></td><td></td><td></td><td>OSFA</td><td>Available</td>")
                    }
                    else
                    {
                        count5++;
                    }
                }
            }
        </table>
    </div>
</div>


<div id="6006Region">
    <div class="regionHeader" onclick="$('#6006Inner').toggle();">
        <h2>Yupoong 6006 Flat Bill Trucker Snapback</h2>
        <img src="~/Images/Yupoong/6006/hat_01.jpg" />
    </div>
    <div id="6006Inner" class="regionInner">
        <table class="availableTable">
            <tr style="font-weight:bold;">
                <td></td>
                <td></td>
                <td></td>
                <td>OSFA</td>
                <td>Available</td>
            </tr>
            @{
                var count6 = 0;
                foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.Yupoong6006Items)
                {
                    <tr>
                        <td><span class="itemId">@item.Id</span></td>
                        <td><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                        <td>@item.ItemColor</td>
                        @if (item.OSFA)
                        {
                            <td>@(item.OSFAStock ? Html.Raw("<input class='osfaCheck check' type='checkbox' checked />") : Html.Raw("<input class='osfaCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Available)
                        {
                            <td><input class='available check' type='checkbox' checked /></td>
                        }
                        else
                        {
                            <td><input class='available check' type='checkbox' /></td>
                        }
                        <td><input type="button" class="smallButton" onclick="updateMasteItem(@item.Id, false, false, false, $(this).closest('tr').find('.osfaCheck').prop('checked'), $(this).closest('tr').find('.available').prop('checked'));" value="Save" /></td>

                    </tr>
                    if (count6 >= (Model.Yupoong6006Items.Count / 4))
                    {
                        count6 = 0;
                        @Html.Raw("</table><table class='availableTable'><tr style='font-weight:bold;'><td></td><td></td><td></td><td>OSFA</td><td>Available</td>")
                    }
                    else
                    {
                        count6++;
                    }
                }
            }
        </table>
    </div>
</div>


<div id="shortBeanieRegion">
    <div class="regionHeader" onclick="$('#shortBeanieInner').toggle();">
        <h2>Yupoong Short Beanies</h2>
        <img src="~/Images/Yupoong/ShortBeanies.jpg" />
    </div>
    <div id="shortBeanieInner" class="regionInner">
        <table class="availableTable">
            <tr style="font-weight:bold;">
                <td></td>
                <td></td>
                <td></td>
                <td>OSFA</td>
                <td>Available</td>
            </tr>
            @{
                var count7 = 0;
                foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.YupoongShortBeanieItems)
                {
                    <tr>
                        <td><span class="itemId">@item.Id</span></td>
                        <td style="background:@item.ThumbnailpreviewImagePath; width:40px"></td>
                        <td>@item.ItemColor</td>
                        @if (item.OSFA)
                        {
                            <td>@(item.OSFAStock ? Html.Raw("<input class='osfaCheck check' type='checkbox' checked />") : Html.Raw("<input class='osfaCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Available)
                        {
                            <td><input class='available check' type='checkbox' checked /></td>
                        }
                        else
                        {
                            <td><input class='available check' type='checkbox' /></td>
                        }
                        <td><input type="button" class="smallButton" onclick="updateMasteItem(@item.Id, false, false, false, $(this).closest('tr').find('.osfaCheck').prop('checked'), $(this).closest('tr').find('.available').prop('checked'));" value="Save" /></td>

                    </tr>
                    if (count7 >= (Model.YupoongShortBeanieItems.Count / 4))
                    {
                        count7 = 0;
                        @Html.Raw("</table><table class='availableTable'><tr style='font-weight:bold;'><td></td><td></td><td></td><td>OSFA</td><td>Available</td>")
                    }
                    else
                    {
                        count7++;
                    }
                }
            }
        </table>
    </div>
</div>

<div id="cuffedBeanieRegion">
    <div class="regionHeader" onclick="$('#cuffedBeanieInner').toggle();">
        <h2>Yupoong Cuffed Beanies</h2>
        <img src="~/Images/Yupoong/CuffedBeanies.jpg" />
    </div>
    <div id="cuffedBeanieInner" class="regionInner">
        <table class="availableTable">
            <tr style="font-weight:bold;">
                <td></td>
                <td></td>
                <td></td>
                <td>OSFA</td>
                <td>Available</td>
            </tr>
            @{
                var count8 = 0;
                foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.YupoongCuffedBeanieItems)
                {
                    <tr>
                        <td><span class="itemId">@item.Id</span></td>
                        <td style="background:@item.ThumbnailpreviewImagePath; width:40px"></td>
                        <td>@item.ItemColor</td>
                        @if (item.OSFA)
                        {
                            <td>@(item.OSFAStock ? Html.Raw("<input class='osfaCheck check' type='checkbox' checked />") : Html.Raw("<input class='osfaCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Available)
                        {
                            <td><input class='available check' type='checkbox' checked /></td>
                        }
                        else
                        {
                            <td><input class='available check' type='checkbox' /></td>
                        }
                        <td><input type="button" class="smallButton" onclick="updateMasteItem(@item.Id, false, false, false, $(this).closest('tr').find('.osfaCheck').prop('checked'), $(this).closest('tr').find('.available').prop('checked'));" value="Save" /></td>

                    </tr>
                    if (count8 >= (Model.YupoongCuffedBeanieItems.Count / 4))
                    {
                        count8 = 0;
                        @Html.Raw("</table><table class='availableTable'><tr style='font-weight:bold;'><td></td><td></td><td></td><td>OSFA</td><td>Available</td>")
                    }
                    else
                    {
                        count8++;
                    }
                }
            }
        </table>
    </div>
</div>

<div id="112Region">
    <div class="regionHeader" onclick="$('#112Inner').toggle();">
        <h2>Richardson 112 Trucker Snapback</h2>
        <img src="~/Images/RichardsonHats/hat_01.jpg" />
    </div>
    <div id="112Inner" class="regionInner">
        <table class="availableTable">
            <tr style="font-weight:bold;">
                <td></td>
                <td></td>
                <td></td>
                <td>OSFA</td>
                <td>Available</td>
            </tr>
            @{
                var count9 = 0;
                foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.Richardson112Items)
                {
                    <tr>
                        <td><span class="itemId">@item.Id</span></td>
                        <td><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                        <td>@item.ItemColor</td>
                        @if (item.OSFA)
                        {
                            <td>@(item.OSFAStock ? Html.Raw("<input class='osfaCheck check' type='checkbox' checked />") : Html.Raw("<input class='osfaCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Available)
                        {
                            <td><input class='available check' type='checkbox' checked /></td>
                        }
                        else
                        {
                            <td><input class='available check' type='checkbox' /></td>
                        }
                        <td><input type="button" class="smallButton" onclick="updateMasteItem(@item.Id, false, false, false, $(this).closest('tr').find('.osfaCheck').prop('checked'), $(this).closest('tr').find('.available').prop('checked'));" value="Save" /></td>

                    </tr>
                    if (count9 >= (Model.Richardson112Items.Count / 4))
                    {
                        count9 = 0;
                        @Html.Raw("</table><table class='availableTable'><tr style='font-weight:bold;'><td></td><td></td><td></td><td>OSFA</td><td>Available</td>")
                    }
                    else
                    {
                        count9++;
                    }
                }
            }
        </table>
    </div>
</div>


<div id="ClassicCapsRegion">
    <div class="regionHeader" onclick="$('#ClassicCapsInner').toggle();">
        <h2>Classic Caps USA100 Trucker Snapback</h2>
        <img src="~/Images/ClassicCaps/hat_01.jpg" />
    </div>
    <div id="ClassicCapsInner" class="regionInner">
        <table class="availableTable">
            <tr style="font-weight:bold;">
                <td></td>
                <td></td>
                <td></td>
                <td>OSFA</td>
                <td>Available</td>
            </tr>
            @{
                foreach (LidLaunchWebsite.Models.MasterBulkOrderItem item in Model.ClassicCapsItems)
                {
                    <tr>
                        <td><span class="itemId">@item.Id</span></td>
                        <td><img src='~/Images/@item.ThumbnailpreviewImagePath' /></td>
                        <td>@item.ItemColor</td>
                        @if (item.OSFA)
                        {
                            <td>@(item.OSFAStock ? Html.Raw("<input class='osfaCheck check' type='checkbox' checked />") : Html.Raw("<input class='osfaCheck check' type='checkbox'/>"))</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (item.Available)
                        {
                            <td><input class='available check' type='checkbox' checked /></td>
                        }
                        else
                        {
                            <td><input class='available check' type='checkbox' /></td>
                        }
                        <td><input type="button" class="smallButton" onclick="updateMasteItem(@item.Id, false, false, false, $(this).closest('tr').find('.osfaCheck').prop('checked'), $(this).closest('tr').find('.available').prop('checked'));" value="Save" /></td>

                    </tr>
                }
            }
        </table>
    </div>
</div>

<script type="text/javascript">
    function updateMasteItem(id, sm, lxl, xlxxl, osfa, available) {
        showLoading();
        $.ajax({
            type: "POST",
            url: '/Dashboard/UpdateMasterBulkOrderItem',
            contentType: false,
            processData: false,
            data: JSON.stringify({
                id: id, sm: sm, lxl: lxl, xlxxl: xlxxl, osfa: osfa, available: available
            }),
            contentType: "application/json",
            success: function (result) {
                if (result == "") {
                    //do nothing
                    displayPopupNotification('error.', 'error', false);
                } else {
                    hideLoading();
                    displayPopupNotification('ITEM UPDATED', 'error', false);
                }
            },
            error: function (xhr, status, p3, p4) {
                displayPopupNotification('Error.', 'error', false);
            }
        });
    }
</script>