@model LidLaunchWebsite.Models.BulkOrder
@{
    ViewBag.Title = "BulkOrderDetailsPopup";
}
<script type="text/javascript">
    hideLoading();
</script>
<style type="text/css">
    #bulkBottomBar {
        height: 80px;
        display: block;
        position: fixed;
        width: 1400px;
        top: 840px;
        background: #fff;
        left: -700px;
        margin-left: 50%;
        border-top: 5px solid #000;
        padding: 10px;
    }
    .bottomBarLink {
        float:left;
        height:100px;
        line-height:100px;
        vertical-align:middle;
        margin:0 20px;
    }
    
</style>
<div id="bulkOrderDetailsPopup">
    <div id="bulkOrderDetailsPopupContent">
        <div id="TopInfoBar">
            <div class="clear">
                <div id="BulkOrderId">@Model.Id</div>
                <div id="BulkOrderDate">Payment Date: @Model.PaymentDate<br />Shipping Date: @Model.ProjectedShipDateShort - @Model.ProjectedShipDateLong <span onclick="$('#bulkOrderDetailsPopup').hide();" class="closeButton">X</span></div>
            </div>
        </div>
        <div id="bulkOrderDetails">
            <h3>Order Details</h3>
            <table>
                <tr>
                    <td>Customer:</td>
                    <td>@Model.CustomerName - @Model.CustomerEmail</td>
                </tr>
                <tr>
                    <td>Shipping Address:</td>
                    <td>@Model.ShipToName : @Model.ShipToAddress @Model.ShipToCity , @Model.ShipToState @Model.ShipToZip</td>
                </tr>
                <tr>
                    <td>Customer Notes:</td>
                    <td><pre>@Model.OrderNotes</pre></td>
                </tr>
                <tr>
                    <td>Artwork Position:</td>
                    <td>
                        @if (Model.ArtworkPosition == "left")
                        {
                            <img src="~/Images/LeftPlacement.jpg" class="placementImage" style="max-height:100px;max-width:100px;" />
                        }
                        @if (Model.ArtworkPosition == "right")
                        {
                            <img src="~/Images/RightPlacement.jpg" class="placementImage" style="max-height:100px;max-width:100px;" />
                        }
                        @if (Model.ArtworkPosition == "center")
                        {
                            <img src="~/Images/CenterPlacement.jpg" class="placementImage" style="max-height:100px;max-width:100px;" />
                        }
                    </td>
                </tr>
                <tr>
                    <td>Art Source:</td>
                    <td><img src="~/Images/BulkOrderArtwork/@Model.ArtworkImage" style="max-height:200px; max-width:200px;" /></td>
                </tr>
                @if (Model.AdminReview)
                {
                    <tr style="background-color:red; color:#fff;">
                        <td>Admin Review:</td>
                        <td>@Model.AdminReviewComment</td>
                    </tr>
                }
                <tr class="hidden">
                    <td>Released To Digitizer:</td>
                    <td>
                        @if (Model.ReleaseToDigitizer)
                        {
                            <span>released</span>
                        }
                        else
                        {
                            <input type="button" class="smallButton" onclick="releaseToDigitizer(@Model.Id);" value="Release" />
                        }
                    </td>
                </tr>
                @if (Model.BackStitching)
                {
                    <tr>
                        <td>Back Stitching:</td>
                        <td>@Model.BackStitchingComment</td>
                    </tr>
                }
                @if (Model.LeftStitching)
                {
                    <tr>
                        <td>Left Stitching:</td>
                        <td>@Model.LeftStitchingComment</td>
                    </tr>
                }
                @if (Model.RightStitching)
                {
                    <tr>
                        <td>Right Stitching:</td>
                        <td>@Model.RightStitchingComment</td>
                    </tr>
                }

                <tr>
                    <td>Order Total:</td>
                    <td>@Model.OrderTotal</td>
                </tr>
                <tr>
                    <td>Order Paid:</td>
                    <td>@Model.OrderPaid</td>
                </tr>
                <tr>
                    <td>Payment Link:</td>
                    <td><a href="https://lidlaunch.com/bulk/orderstatus?id=@Model.PaymentGuid" target="_blank">Pay Link</a></td>
                </tr>
                <tr>
                    <td>Shipped:</td>
                    <td>
                        @if (Model.OrderComplete)
                        {
                            <span>SHIPPED</span>
                        }
                        else
                        {
                            <span>NOT SHIPPED</span>
                        }

                    </td>
                </tr>
                @if (Model.OrderRefunded)
                {
                    <tr>
                        <td colspan="2" style="color:red; font-size:22px; font-weight:bold;">REFUNDED</td>
                    </tr>
                }
                </table>
        </div><!--/bulkOrderDetails-->
        <div id="bulkOrderItems">
            <h3>Order Items</h3>
            <table id="viewingTable">
                <thead>
                    <tr>
                        <td>Item</td>
                        <td>Qty</td>
                        <td>Price</td>
                        <td>Design Id</td>
                        <td>Add Note</td>
                        <td>Rework</td>
                    </tr>
                <tbody>
                    @foreach (LidLaunchWebsite.Models.BulkOrderItem item in Model.lstItems)
                    {
                        if (item.BulkRework != null && item.BulkRework.Id > 0)
                        {
                            if (item.BulkRework.Status == "Complete")
                            {
                                <tr class="reworkItem complete">
                                    <td>@item.ItemName</td>
                                    <td>@item.ItemQuantity</td>
                                    <td>@item.ItemCost</td>
                                    <td>@item.DesignId</td>
                                    <td><a href="javascript:void(0);" onclick="$('#noteHolder').load(addNoteUrl, { bulkOrderId: 0, bulkOrderItemId: @item.Id , designId: 0, parentBulkOrderId: @Model.Id, revision: false, customerAdded: false });"><input type="button" value="Add Note" class="smallButton" /></a></td>
                                    <td><a href="javascript:void(0);" onclick="$('#bulkReworkHolder').load(addBulkReworkUrl, { 'bulkOrderBatchId': 0, bulkOrderItemId: @item.Id , bulkOrderBlankName: '@item.ItemName', parentBulkOrderId: @Model.Id, parentBulkOrderBatchId: 0, quantity: @item.BulkRework.Quantity, note: '@item.BulkRework.Note', bulkReworkId: @item.BulkRework.Id, shipping: false  });">@item.BulkRework.Quantity : @item.BulkRework.Note</a></td>
                                </tr>
                            }
                            else
                            {
                                <tr class="reworkItem">
                                    <td>@item.ItemName</td>
                                    <td>@item.ItemQuantity</td>
                                    <td>@item.ItemCost</td>
                                    <td>@item.DesignId</td>
                                    <td><a href="javascript:void(0);" onclick="$('#noteHolder').load(addNoteUrl, { bulkOrderId: 0, bulkOrderItemId: @item.Id , designId: 0, parentBulkOrderId: @Model.Id, revision: false, customerAdded: false, shipping: false });"><input type="button" value="Add Note" class="smallButton" /></a></td>
                                    <td><a href="javascript:void(0);" onclick="$('#bulkReworkHolder').load(addBulkReworkUrl, { 'bulkOrderBatchId': 0, bulkOrderItemId: @item.Id , bulkOrderBlankName: '@item.ItemName', parentBulkOrderId: @Model.Id, parentBulkOrderBatchId: 0, quantity: @item.BulkRework.Quantity, note: '@item.BulkRework.Note', bulkReworkId: @item.BulkRework.Id, shipping: false  });">@item.BulkRework.Quantity : @item.BulkRework.Note</a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>@item.ItemName</td>
                                <td>@item.ItemQuantity</td>
                                <td>@item.ItemCost</td>
                                <td>@item.DesignId</td>
                                <td><a href="javascript:void(0);" onclick="$('#noteHolder').load(addNoteUrl, { bulkOrderId: 0, bulkOrderItemId: @item.Id , designId: 0, parentBulkOrderId: @Model.Id, revision: false, customerAdded: false, shipping: false });"><input type="button" value="Add Note" class="smallButton" /></a></td>
                                <td><a href="javascript:void(0);" onclick="$('#bulkReworkHolder').load(addBulkReworkUrl, { 'bulkOrderBatchId': 0, bulkOrderItemId: @item.Id , bulkOrderBlankName: '@item.ItemName', parentBulkOrderId: @Model.Id, parentBulkOrderBatchId: 0, quantity: @item.ItemQuantity, note: '', bulkReworkid: 0, shipping: false  });"><input type="button" value="Rework" class="smallButton" /></a></td>
                            </tr>
                        }


                        foreach (LidLaunchWebsite.Models.Note note in item.lstNotes)
                        {
                            <tr>
                                <td></td>
                                <td colspan="2"><i class="noteDate">@note.CreatedDate</i> : @note.Text</td>
                                <td>@note.Attachment</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <table id="printingTable">
                <thead>
                    <tr>
                        <td>Item</td>
                        <td>Qty</td>
                        <td>Missing</td>
                        <td>Ready</td>
                        <td>Misc</td>                        
                    </tr>
                <tbody>
                    @foreach (LidLaunchWebsite.Models.BulkOrderItem item in Model.lstItems)
                    {
                        if (item.ItemName != "Shipping" && item.ItemName != "Back Stitching" && item.ItemName != "Left Side Stitching" && item.ItemName != "Right Side Stitching" && item.ItemName != "Artwork Setup/Digitizing")
                        {
                            <tr>
                                <td>@item.ItemName</td>
                                <td style="font-size:24px; font-weight:bold;">@item.ItemQuantity</td>
                                <td style="font-size:24px;">[&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]</td>
                                <td style="font-size:24px;">[&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]</td>
                                <td style="font-size:24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                        }

                    }
                <tr>
                    <td style="font-size:24px; font-weight:bold;">Total Items: @Model.lstItems.Where(item => item.ItemName != "Shipping" && item.ItemName != "Back Stitching" && item.ItemName != "Left Side Stitching" && item.ItemName != "Right Side Stitching" && item.ItemName != "Artwork Setup/Digitizing").Sum(i => i.ItemQuantity)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div><!--/bulkOrderItems-->
        <div id="bulkOrderNotes">
            <h3>Order Notes</h3>
            <table>
                @foreach (LidLaunchWebsite.Models.Note note in Model.lstNotes)
                {
                    <tr>
                        <td></td>
                        <td colspan="3"><i class="noteDate">@note.CreatedDate</i> : @note.Text</td>
                        <td>@note.Attachment</td>
                    </tr>
                }
            </table>
            <a href="javascript:void(0);" onclick="$('#noteHolder').load(addNoteUrl, { bulkOrderId: @Model.Id, bulkOrderItemId: 0 , designId: 0, parentBulkOrderId: @Model.Id, revision: false, customerAdded: false, shipping: false });"><input type="button" value="Add Note" class="smallButton" /></a>
        </div>
        <div id="bulkOrderDesigns">
            <h3>Designs</h3>
            <a href="javascript:void(0);" onclick="$('#bulkDesignSelectHolder').load(selectBulkDesignUrl);"><input type="button" class="smallButton" value="SELECT PRE-EXISTING DESIGN" /></a>
            <a href="javascript:void(0);" onclick="$('#uploadDesignHolder').load(uploadBulkDesignUrl, { designId: 0, fromDigitizing: false });"><input type="button" class="smallButton" value="Add Design" /></a>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Name</td>
                        <td>Art Source</td>                        
                        <td>Embroidery File</td>
                        <td>Transparent Preview</td>
                        <td>Production File</td>
                        <td>EMB File</td>
                        <td>Add Note</td>
                        <td>Edit</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (LidLaunchWebsite.Models.Design design in Model.lstDesigns)
                    {
                        <tr>
                            @if (!design.InternallyApproved)
                            {
                                <td><input type="button" onclick="internallyApproveDigitizing(@design.Id, @Model.Id)" value="Approve" class="smallButton" /></td>
                            }
                            else
                            {
                                if (!design.CustomerApproved)
                                {
                                    <td>Internally Approved</td>
                                }
                                else
                                {
                                    <td>Internally Approved / Customer Approved</td>
                                }
                            }
                            <td><input type="button" onclick="$('#noteHolder').load(addNoteUrl, { bulkOrderId: 0, bulkOrderItemId: 0, designId: @design.Id, parentBulkOrderId: @Model.Id, revision: true, customerAdded: false, shipping: false });" class="smallButton" value="Revision" /></td>
                            <td>@design.Name</td>
                            <td><a href="~/Images/BulkOrderArtwork/@design.ArtSource" target="_blank">Art Source</a></td>                                                     
                            <td><a href="~/Images/DesignImages/Digitizing/DST/@design.DigitizedFile" class="EmbroideryFileName" target="_blank">@design.DigitizedFile</a></td>
                            <td><a href="~/Images/DesignImages/Digitizing/Preview/@design.DigitizedPreview" class="TransparentPreviewName" target="_blank"><img src="~/Images/DesignImages/Digitizing/Preview/@design.DigitizedPreview" height="200" /></a></td>
                            <td><a href="~/Images/DesignImages/Digitizing/Info/@design.DigitizedProductionSheet" class="InfoFileName" target="_blank">@design.DigitizedProductionSheet</a></td>
                            <td><a href="~/Images/DesignImages/Digitizing/EMB/@design.EMBFile" class="EMBFileName" target="_blank">@design.EMBFile</a></td>
                            <td><a href="javascript:void(0);" onclick="$('#noteHolder').load(addNoteUrl, { bulkOrderId: 0, bulkOrderItemId: 0, designId: @design.Id, parentBulkOrderId: @Model.Id, revision: false, customerAdded: false, shipping: false });"><input type="button" value="Add Note" class="smallButton" /></a></td>
                            <td><a href="javascript:void(0);" onclick="$('#uploadDesignHolder').load(uploadBulkDesignUrl, { designId: @design.Id, fromDigitizing: false });"><input type="button" class="smallButton" value="Edit Design" /></a></td>
                        </tr>
                        if (design.lstNotes.Count > 0)
                        {
                            foreach (LidLaunchWebsite.Models.Note note in design.lstNotes)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td colspan="3"><i class="noteDate">INTERNAL NOTES: @note.CreatedDate</i> : @note.Text</td>
                                    <td>@note.Attachment</td>
                                </tr>
                            }
                        }
                        if (design.lstRevisionNotes.Count > 0)
                        {
                            foreach (LidLaunchWebsite.Models.Note note in design.lstRevisionNotes)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td colspan="3"><i class="noteDate">CUSTOMER NOTES: @note.CreatedDate</i> : @note.Text</td>
                                    <td>@note.Attachment</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>        
        
        <div id="noteHolder"></div>
        <div id="bulkDesignSelectHolder"></div>
        <div id="bulkReworkHolder"></div>
        <div id="bulkOrderEditHolder"></div>
        <div id="uploadDesignHolder"></div>
        <div id="adminReviewHolder"></div>


        <div id="colorConfirmationPopup" style="display:none;">
            <div id="colorConfirmationPopupInner">
                There is a limit of only sending this email once per order<br />
                <textarea id="colorNotes" type="text" placeholder="Color question here..." style="width:90%; height:100px;"></textarea><br/>
                <input type="button" class="smallButton" value="Send Color Confirmation Email" onclick="sendColorConfirmationEmail('@Model.Id', '@Model.CustomerEmail', $('#colorNotes').val());" />
                <input type="button" class="smallButton" value="Cancel" onclick="$('#colorConfirmationPopup').hide()" />
            </div>            
        </div>


        <div id="bulkBottomBar">
            <div class="bottomBarLink">
                @if (Model.ReadyForProduction)
                {
                    <img src="~/Images/InternallyApproved.png" style="max-height:80px;max-width:80px; cursor:pointer;" onclick="InternallyApproveBulkOrder(@Model.Id, false);" />
                }
                else
                {
                    <img src="~/Images/NotInternallyApproved.png" style="max-height:80px;max-width:80px; cursor:pointer;" onclick="InternallyApproveBulkOrder(@Model.Id, true);" />
                }
            </div>
            <div class="bottomBarLink">
                <img src="~/Images/AdminReview.png" style="max-height:80px;max-width:80px; cursor:pointer;" onclick="$('#adminReviewHolder').load(adminReviewUrl, { bulkOrderId: @Model.Id, fromBulkEdit: true });" />
            </div>
            @if (!Model.ArtworkEmailSent && Model.ArtworkImage == "")
            {
                <div class="bottomBarLink">
                    <input type="button" class="smallButton" value="Send Artwork Email" onclick="sendArtworkEmail('@Model.Id','@Model.CustomerEmail');" />
                </div>
            }
            @if (!Model.ColorConfirmationEmailSent)
            {
                <div class="bottomBarLink">
                    <input type="button" class="smallButton" value="Send Color Email" onclick="$('#colorConfirmationPopup').show();" />
                </div>
            }
            <div class="bottomBarLink">
                <input type="button" class="smallButton" value="Edit Bulk Order" onclick="showLoading(); $('#bulkOrderEditHolder').load(bulkOrderEditUrl, { bulkOrderId: @Model.Id });" />
            </div>
            @if (!Model.OrderRefunded)
            {
                <div class="bottomBarLink">
                    <input type="button" class="smallButton" value="Mark Order Refunded" onclick="updateOrderRefunded('@Model.Id');" />
                </div>
            }
            @if (Model.lstDesigns.Any(d => d.InternallyApproved)) {
                <div class="bottomBarLink">
                    <input type="button" class="smallButton" value="Send Design Reminder Email: @Model.ReminderApprovalEmailSent" onclick="sendDesignApprovalEmail('@Model.Id');" />
                </div>
            }
            <div class="bottomBarLink">
                <a href="https://ship11.shipstation.com/orders/all-orders-search-result/store/c4087619-371e-43bf-956d-81fde8694d8e?quickSearch=Bo-@Model.Id" target="_blank"><input type="button" value="Open ShipStation" class="smallButton" /></a>
            </div>
        </div>
    </div><!--bulkOrderDetailsPopupContent-->
</div><!--/bulkOrderDetailsPopup-->
<script type="text/javascript">
    var addNoteUrl = '@Url.Action("AddNote", "Dashboard")';
    var selectBulkDesignUrl = '@Url.Action("SetBulkDesign", "Dashboard")';
    var addBulkReworkUrl = '@Url.Action("AddBulkRework", "Dashboard")';
    var bulkOrderEditUrl = '@Url.Action("EditBulkOrderPopup", "Dashboard")';
    var uploadBulkDesignUrl = '@Url.Action("UploadBulkDesign", "Dashboard")';
    var adminReviewUrl = '@Url.Action("AdminReview", "Bulk")';
</script>

