@model List<LidLaunchWebsite.Models.BulkOrder>
    <table>
        @foreach (LidLaunchWebsite.Models.BulkOrder bulkOrder in Model)
        {
            <tr><td colspan="8"><b>Bulk Order ID: @bulkOrder.Id</b></td></tr>
            <tr><td colspan="8">Customer Notes: @bulkOrder.OrderNotes</td></tr>
            <tr><td colspan="8">Placement: @bulkOrder.ArtworkPosition</td></tr>
            foreach (LidLaunchWebsite.Models.Note note in bulkOrder.lstNotes)
            {
                <tr><td colspan="8">@note.CreatedDate : @note.Text</td></tr>
            }
            <tr style="font-weight:bold;">
                <td>Design ID</td>
                <td>Art Source</td>
                <td>Height</td>
                <td>Width</td>
                <td>Embroidery File</td>
                <td>Digitized Preview</td>
                <td>Production Info Sheet</td>
                <td>EMB File</td>
            </tr>
            foreach (LidLaunchWebsite.Models.Design design in bulkOrder.lstDesigns)
            {
                <tr>
                    <td><span class="designId">@design.Id</span><span class="bulkOrderId hidden">@bulkOrder.Id</span></td>
                    <td><a href="~/Images/BulkOrderArtwork/@design.ArtSource" target="_blank"><img src="~/Images/BulkOrderArtwork/@design.ArtSource" height="200" /></a></td>
                    <td>@design.EmbroideredHeight</td>
                    <td>@design.EmbroideredWidth</td>
                    <td><input type="file" class="EmbroideryFile" /><br /><a href="~/Images/DesignImages/Digitizing/DST/@design.DigitizedFile" class="EmbroideryFileName" target="_blank">@design.DigitizedFile</a></td>
                    <td><input type="file" class="TransparentPreview" /><br /><a href="~/Images/DesignImages/Digitizing/Preview/@design.DigitizedPreview" class="TransparentPreviewName" target="_blank"><img src="~/Images/DesignImages/Digitizing/Preview/@design.DigitizedPreview" height="200" /></a></td>
                    <td><input type="file" class="InfoFile" /><br /><a href="~/Images/DesignImages/Digitizing/Info/@design.DigitizedProductionSheet" class="InfoFileName" target="_blank">@design.DigitizedProductionSheet</a></td>
                    <td><input type="file" class="EMBFile" /><br /><a href="~/Images/DesignImages/Digitizing/EMB/@design.EMBFile" class="EMBFileName" target="_blank">@design.EMBFile</a></td>
                </tr>
                foreach (LidLaunchWebsite.Models.Note note in design.lstNotes)
                {
                    <tr><td colspan="8">@note.CreatedDate : @note.Text</td></tr>
                }
                <tr style="height:1px; background:#000;"><td colspan="8"></td></tr>
            }
            <tr style="height:5px; background:#39b91c;"><td colspan="8"></td></tr>
        }
    </table>
