@model LidLaunchWebsite.Models.BulkOrder
@{
    ViewBag.Title = "Edit Bulk Order";
}
<script type="text/javascript">
    hideLoading();
</script>
<div id="bulkOrderDetailsPopup">
    <div id="bulkOrderDetailsPopupContent">
        <div id="TopInfoBar">
            <div class="clear">
                <div id="BulkOrderId">@Model.Id</div>
                <div id="BulkOrderDate">Payment Date: @Model.PaymentDate <span onclick="$('#bulkOrderEditHolder').hide();" class="closeButton">X</span></div>
            </div>            
        </div>
        <div id="bulkOrderDetails">
            <h3>Order Details</h3>
            <table>
                <tr>
                    <td>Customer:</td>
                    <td>@Model.CustomerName</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" value="@Model.CustomerEmail" id="txtEditCustomerEmail" /></td>
                </tr>
                <tr>
                    <td>Shipping Address:</td>
                    <td>@Model.ShipToName : @Model.ShipToAddress @Model.ShipToCity , @Model.ShipToState @Model.ShipToZip <a href="#" onclick="$('.shipFields').each(function () { $(this).show() });">edit</a></td>
                </tr>
                <tr class="hidden shipFields">
                    <td colspan="2"><span style="color:red">ADDRESS MUST BE MANUALLY UPDATED IN SHIP STATION ALSO!!!!!!</span></td>
                </tr>
                <tr class="hidden shipFields">
                    <td>Ship Address:</td>
                    <td><input type="text" value="@Model.ShipToAddress" id="txtShipToAddress" /></td>
                </tr>
                <tr class="hidden shipFields">
                    <td>Ship City:</td>
                    <td><input type="text" value="@Model.ShipToCity" id="txtShipToCity" /></td>
                </tr>
                <tr class="hidden shipFields">
                    <td>Ship State:</td>
                    <td><input type="text" value="@Model.ShipToState" id="txtShipToState" /></td>
                </tr>
                <tr class="hidden shipFields">
                    <td>Ship Zip:</td>
                    <td><input type="text" value="@Model.ShipToZip" id="txtShipToZip" /></td>
                </tr>
                <tr>
                    <td>Artwork Position:</td>
                    <td>
                        @if (Model.ArtworkPosition == "left")
                        {
                            <img src="~/Images/LeftPlacement.jpg" id="left" class="editPlacementSelected placementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);" />
                            <img src="~/Images/CenterPlacement.jpg" id="center" class="editPlacementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);" />
                            <img src="~/Images/RightPlacement.jpg" id="right" class="editPlacementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);" />
                        }
                        @if (Model.ArtworkPosition == "right")
                        {
                            <img src="~/Images/LeftPlacement.jpg" id="left" class="editPlacementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);" />
                            <img src="~/Images/CenterPlacement.jpg" id="center" class="editPlacementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);" />
                            <img src="~/Images/RightPlacement.jpg" id="right" class="editPlacementSelected placementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);" />
                        }
                        @if (Model.ArtworkPosition == "center")
                        {
                            <img src="~/Images/LeftPlacement.jpg" id="left" class="editPlacementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);" />
                            <img src="~/Images/CenterPlacement.jpg" id="center" class="editPlacementSelected placementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);" />
                            <img src="~/Images/RightPlacement.jpg" id="right" class="editPlacementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);" />
                        }
                    </td>
                </tr>
                <tr>
                    <td>Art Source:</td>
                    <td><img src="~/Images/BulkOrderArtwork/@Model.ArtworkImage" style="max-height:200px; max-width:200px;" /><input type="file" id="editArtworkUpload" value="upload art" /></td>
                </tr>
                @*@if (Model.BackStitching)
        {
            <tr>
                <td>Back Stitching:</td>
                <td><input type="text" value="@Model.BackStitchingComment" id="txtBackStitchingComment"/></td>
            </tr>
        }
        @if (Model.LeftStitching)
        {
            <tr>
                <td>Left Stitching:</td>
                <td><input type="text" value="@Model.LeftStitchingComment" id="txtLeftStitchingComment" /></td>
            </tr>
        }
        @if (Model.RightStitching)
        {
            <tr>
                <td>Right Stitching:</td>
                <td><input type="text" value="@Model.RightStitchingComment" id="txtRightStitchingComment" /></td>
            </tr>
        }*@

                <tr>
                    <td>Order Total:</td>
                    <td><input type="text" id="txtOrderTotal" value="@Model.OrderTotal" /></td>
                </tr>
                <tr>
                    <td>Shipped:</td>
                    <td><input type="text" placeholder="tracking #" id="txtTrackingNumber" value="@Model.TrackingNumber" /></td>
                </tr>
            </table>  
        </div><!--/bulkOrderDetails-->
        <div id="bulkOrderItems">
            <h3>Order Items</h3>
            <table id="bulkOrderItemsEdit">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Item</td>
                        <td>Qty</td>
                        <td>Price</td>
                    </tr>
                <tbody>
                    @foreach (LidLaunchWebsite.Models.BulkOrderItem item in Model.lstItems)
                    {
                        <tr class="bulkOrderItemRow">
                            <td><span class="bulkOrderItemId">@item.Id</span></td>
                            <td style="position:relative;">
                                <input type="text" value="@item.ItemName" class="txtBulkOrderItemName" onclick="loadAndShowAvailableItemsList(this)" onkeypress="handleKeyPress(event, this)"/>
                                <ul class="itemsList" style="display:none;">
                                </ul>
                            </td>
                            <td><input type="text" value="@item.ItemQuantity" class="txtBulkOrderItemQuantity" /></td>
                            <td><input type="text" value="@item.ItemCost" class="txtBulkOrderItemCost" /></td>                                    
                        </tr>                        
                    }
                </tbody>
            </table>
            <input type="button" class="smallButton" value="Add Item" onclick="addBulkOrderItemEdit()"/>
        </div><!--/bulkOrderItems-->    
        <div>
            <input type="button" class="smallButton" value="Save Bulk Order" onclick="saveBulkOrderEdit(@Model.Id)"/>
        </div>
        
        
    </div><!--bulkOrderDetailsPopupContent-->
</div><!--/bulkOrderDetailsPopup-->
<script type="text/javascript">
    
</script>
<table class="hidden">
    <tbody>
        <tr id="bulkOrderItemEditTemplate" class="bulkOrderItemRow">
            <td><span class="bulkOrderItemId">0</span></td>
            <td style="position:relative;">
                <input type="text" value="" class="txtBulkOrderItemName" onclick="loadAndShowAvailableItemsList(this)" onkeypress="handleKeyPress(event, this)"/>
                <ul class="itemsList" style="display:none;">
                </ul>
            </td>
            <td><input type="text" value="0" class="txtBulkOrderItemQuantity" /></td>
            <td><input type="text" value="0" class="txtBulkOrderItemCost" /></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    var itemSelectOpen = false;
    function loadAndShowAvailableItemsList(that) {        
        loadAvailableItemsList('', that);
        $(that).closest('td').find('.itemsList').show();
    }
    function handleKeyPress(e, that) {
        var key = e.keyCode || e.which;
        if (key == 13) {
            loadAvailableItemsList($(that).val(), that);
        }
    }
    function loadAvailableItemsList(filter, that) {   
        $(that).closest('td').find('.itemsList').empty();
        showLoading();
        $.ajax({
            type: "POST",
            url: '/Dashboard/GetAvailableMasterBulkOrderItems',
            contentType: false,
            processData: false,
            data: JSON.stringify({
                filter: filter
            }),
            contentType: "application/json",
            success: function (result) {
                if (result == "") {
                    //do nothing
                    displayPopupNotification('error.', 'error', false);
                } else {
                    hideLoading();
                    $(that).closest('td').find('.itemsList').append(result);
                }
            },
            error: function (xhr, status, p3, p4) {
                displayPopupNotification('Error.', 'error', false);
            }
        });        
    }
    function hideItemsLists() {
        $('.itemsList').each(function () {
            $(this).empty();
            $(this).hide();
        });
    }
</script>
<style type="text/css">
    .itemsList {
        position: absolute;
        top: 20px;
        left: 0;
        width: 600px;
        height: 300px;
        overflow-y: scroll;
        background: #fff;
        border: 1px solid #000;
        list-style-type: none;
        padding: 0px;
        margin-left: 5px;
        z-index: 900;
    }
    .itemsList li {
        margin:5px;
        padding:0;
    }
    .selectItemName {
        line-height:40px;
    }
    .itemsList li img {
        height:40px;
    }
    .txtBulkOrderItemName {
        width:400px;
    }
    .txtBulkOrderItemQuantity {
        width:80px;
    }
    .txtBulkOrderItemCost {
        width:80px;
    }
</style>
