@model LidLaunchWebsite.Models.BulkOrder
@{
    ViewBag.Title = "Edit Bulk Order";
}

<div id="bulkOrderDetailsPopup">
    <div id="bulkOrderDetailsPopupContent">
        <div id="TopInfoBar">
            <div class="clear">
                <div id="BulkOrderId">@Model.Id</div>
                <div id="BulkOrderDate">Payment Date: @Model.PaymentDate <span onclick="$('#bulkOrderEditHolder').hide();" class="closeButton">X</span></div>
            </div>            
        </div>
        <div id="bulkOrderDetails">
            <h3>Order Details</h3>
            <table>
                <tr>
                    <td>Customer:</td>
                    <td>@Model.CustomerName</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" value="@Model.CustomerEmail" id="txtEditCustomerEmail"/></td>
                </tr>
                <tr>
                    <td>Shipping Address:</td>
                    <td>@Model.ShipToName : @Model.ShipToAddress @Model.ShipToCity , @Model.ShipToState @Model.ShipToZip</td>
                </tr>
                <tr>
                    <td>Artwork Position:</td>
                    <td>
                        @if (Model.ArtworkPosition == "left")
                        {
                            <img src="~/Images/LeftPlacement.jpg" id="left" class="editPlacementSelected placementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);"/>
                            <img src="~/Images/CenterPlacement.jpg" id="center" class="editPlacementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);"/>
                            <img src="~/Images/RightPlacement.jpg" id="right" class="editPlacementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);"/>
                        }
                        @if (Model.ArtworkPosition == "right")
                        {
                            <img src="~/Images/LeftPlacement.jpg" id="left" class="editPlacementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);"/>
                            <img src="~/Images/CenterPlacement.jpg" id="center" class="editPlacementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);"/>
                            <img src="~/Images/RightPlacement.jpg" id="right" class="editPlacementSelected placementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);"/>
                        }
                        @if (Model.ArtworkPosition == "center")
                        {
                            <img src="~/Images/LeftPlacement.jpg" id="left" class="editPlacementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);"/>
                            <img src="~/Images/CenterPlacement.jpg" id="center" class="editPlacementSelected placementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);"/>
                            <img src="~/Images/RightPlacement.jpg" id="right" class="editPlacementSelected" style="max-height:100px;max-width:100px;" onclick="changePlacement(this);"/>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Art Source:</td>
                    <td><img src="~/Images/BulkOrderArtwork/@Model.ArtworkImage" style="max-height:200px; max-width:200px;" /><input type="file" id="editArtworkUpload" value="upload art"/></td>
                </tr>
                @*@if (Model.BackStitching)
                {
                    <tr>
                        <td>Back Stitching:</td>
                        <td><input type="text" value="@Model.BackStitchingComment" id="txtBackStitchingComment"/></td>
                    </tr>
                }
                @if (Model.LeftStitching)
                {
                    <tr>
                        <td>Left Stitching:</td>
                        <td><input type="text" value="@Model.LeftStitchingComment" id="txtLeftStitchingComment" /></td>
                    </tr>
                }
                @if (Model.RightStitching)
                {
                    <tr>
                        <td>Right Stitching:</td>
                        <td><input type="text" value="@Model.RightStitchingComment" id="txtRightStitchingComment" /></td>
                    </tr>
                }*@

                <tr>
                    <td>Order Total:</td>
                    <td><input type="text" id="txtOrderTotal" value="@Model.OrderTotal"/></td>
                </tr>
                <tr>
                    <td>Shipped:</td>
                    <td><input type="text" placeholder="tracking #" id="txtTrackingNumber" value="@Model.TrackingNumber" /></td>
                </tr>
            </table>  
        </div><!--/bulkOrderDetails-->
        <div id="bulkOrderItems">
            <h3>Order Items</h3>
            <table id="bulkOrderItemsEdit">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Item</td>
                        <td>Qty</td>
                        <td>Price</td>
                    </tr>
                <tbody>
                    @foreach (LidLaunchWebsite.Models.BulkOrderItem item in Model.lstItems)
                    {
                        <tr class="bulkOrderItemRow">
                            <td><span class="bulkOrderItemId">@item.Id</span></td>
                            <td><input type="text" value="@item.ItemName" class="txtBulkOrderItemName"/></td>
                            <td><input type="text" value="@item.ItemQuantity" class="txtBulkOrderItemQuantity" /></td>
                            <td><input type="text" value="@item.ItemCost" class="txtBulkOrderItemCost" /></td>                                    
                        </tr>                        
                    }
                </tbody>
            </table>
            <input type="button" class="smallButton" value="Add Item" onclick="addBulkOrderItemEdit()"/>
        </div><!--/bulkOrderItems-->    
        <div>
            <input type="button" class="smallButton" value="Save Bulk Order" onclick="saveBulkOrderEdit(@Model.Id)"/>
        </div>
        
        
    </div><!--bulkOrderDetailsPopupContent-->
</div><!--/bulkOrderDetailsPopup-->
<script type="text/javascript">
    
</script>
<table class="hidden">
    <tbody>
        <tr id="bulkOrderItemEditTemplate" class="bulkOrderItemRow">
            <td><span class="bulkOrderItemId">0</span></td>
            <td><input type="text" value="" class="txtBulkOrderItemName" /></td>
            <td><input type="text" value="0" class="txtBulkOrderItemQuantity" /></td>
            <td><input type="text" value="0" class="txtBulkOrderItemCost" /></td>
        </tr>
    </tbody>
</table>

