<style type="text/css">
    #uploadDesignInner {
        width:400px;
        margin:0 auto;
    }
</style>
<div id="uploadBulkDesignPopup">
    <div id="uploadBulkDesignPopupInner">        
        <div id="uploadDesignInner">
            <span id="designBulkOrderId" class="hidden">@Model.BulkOrderId</span>
            <table>
                <tr>
                    <td>PLACEMENT:</td>
                    <td>
                        <select id="bulkDesignName">
                            @if (Model.Design.Name == "Front")
                            {
                                <option value="Front" selected>Front</option>
                            }
                            else
                            {
                                <option value="Front">Front</option>
                            }
                            @if (Model.Design.Name == "AltFront")
                            {
                                <option value="AltFront" selected>Alternate Front</option>
                            }
                            else
                            {
                                <option value="AltFront">Alternate Front</option>
                            }
                            @if (Model.Design.Name == "LeftSide")
                            {
                                <option value="LeftSide" selected>Left Side</option>
                            }
                            else
                            {
                                <option value="LeftSide">Left Side</option>
                            }
                            @if (Model.Design.Name == "RightSide")
                            {
                                <option value="RightSide" selected>Right Side</option>
                            }
                            else
                            {
                                <option value="RightSide">Right Side</option>
                            }
                            @if (Model.Design.Name == "Back")
                            {
                                <option value="Back" selected>Back</option>
                            }
                            else
                            {
                                <option value="Back">Back</option>
                            }
                            @if (Model.Design.Name == "Beanie")
                            {
                                <option value="Beanie" selected>Beanie</option>
                            }
                            else
                            {
                                <option value="Beanie">Beanie</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        PNG PREVIEW:
                    </td>
                    <td>
                        <input type="file" id="filePngPreview" value="@Model.Design.DigitizedPreview" />
                    </td>
                </tr>
                <tr>
                    <td>
                        DST:
                    </td>
                    <td>
                        <input type="file" id="fileDst" value="@Model.Design.DigitizedFile" />
                    </td>
                </tr>
                <tr>
                    <td>PDF:</td>
                    <td>
                        <input type="file" id="filePdf" value="@Model.Design.DigitizedProductionSheet" />
                    </td>
                </tr>
                <tr>
                    <td>EMB:</td>
                    <td>
                        <input type="file" id="fileEmb" value="@Model.Design.EMBFile" />
                    </td>
                </tr>
                @if (Model.Design.Id > 0 && Model.Design.InternallyApproved && !Model.FromDigitizing)
                {
                    <tr>
                        <td colspan="2"><input type="checkbox" id="chkEmailCustomer" /> Notify Customer</td>
                    </tr>
                }
                <tr>
                    <td>
                        @if (Model.Design.Id == 0)
                        {
                            <div><input type="button" value="Save Design" class="smallButton" onclick="saveBulkDesign(@Model.FromDigitizing)" /></div>
                        }
                        @if (Model.Design.Id > 0)
                        {
                            <div><input type="button" value="Update Design" class="smallButton" onclick="updateBulkDesign(@Model.Design.Id, @Model.FromDigitizing)" /></div>
                        }
                    </td>
                    <td>
                        <input type="button" value="Cancel" class="smallButton" onclick="$('#uploadDesignHolder').empty();" />
                    </td>
                </tr>
            </table>
            <div class="hidden">
                ART SOURCE: <input type="file" id="fileArtSource" value="@Model.Design.ArtSource" /><img src="/Images/DesignImages/Digitizing/Preview/@Model.Design.ArtSource" style="max-height:100px; max-width:100px;" />
            </div>
        </div><!--/uploadDesignInner-->
    </div>
</div>


<script type="text/javascript">
    function saveBulkDesign(digitizingPage) {
        var bulkOrderId = $('#designBulkOrderId').text();
        var designName = $('#bulkDesignName').val();
        var artSource = $('#fileArtSource')[0].files;
        var pngPreview = $('#filePngPreview')[0].files;
        var dst = $('#fileDst')[0].files;
        var pdf = $('#filePdf')[0].files;
        var emb = $('#fileEmb')[0].files;
        var notifyCustomer = $('#chkEmailCustomer').prop("checked");
        if (digitizingPage || notifyCustomer == null) {
            notifyCustomer = false;
        }

        if (pngPreview.length > 0 && dst.length > 0 && pdf.length > 0 && emb.length > 0) {
            var data = new FormData();
            data.append("artSource", artSource[0]);
            data.append("pngPreview", pngPreview[0]);
            data.append("dst", dst[0]);
            data.append("pdf", pdf[0]);
            data.append("emb", emb[0]);
            data.append("designName", designName);
            data.append("bulkOrderId", bulkOrderId);
            data.append("notifyCustomer", notifyCustomer);
            showLoading();
            $.ajax({
                type: "POST",
                url: '/Dashboard/CreateBulkDesign',
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    if (result == "") {
                        //do nothing
                        displayPopupNotification('Sorry there was an error creating your design.', 'error', false);
                    } else {
                        if (digitizingPage) {
                            window.location.reload();
                        } else {
                            //set the url for the file link and show the link
                            showBulkOrderDetailsPopup(bulkOrderId);
                        }                        
                    }
                },
                error: function (xhr, status, p3, p4) {
                    displayPopupNotification('Sorry there was an error creating your design.', 'error', false);
                }
            });

        } else {
            displayPopupNotification('Please upload atleast a png preview, dst file, pdf AND emb file to save.', 'error', false);
        }
    }

    function updateBulkDesign(designId, digitizingPage) {
        var bulkOrderId = $('#designBulkOrderId').text();
        var designName = $('#bulkDesignName').val();
        var artSource = $('#fileArtSource')[0].files;
        var pngPreview = $('#filePngPreview')[0].files;
        var dst = $('#fileDst')[0].files;
        var pdf = $('#filePdf')[0].files;
        var emb = $('#fileEmb')[0].files;
        var notifyCustomer = $('#chkEmailCustomer').prop("checked");
        if (digitizingPage || notifyCustomer == null) {
            notifyCustomer = false;
        }

        if (pngPreview.length > 0 && dst.length > 0 && pdf.length > 0 && emb.length > 0) {
            var data = new FormData();
            data.append("artSource", artSource[0]);
            data.append("pngPreview", pngPreview[0]);
            data.append("dst", dst[0]);
            data.append("pdf", pdf[0]);
            data.append("emb", emb[0]);
            data.append("designName", designName);
            data.append("bulkOrderId", bulkOrderId);
            data.append("designId", designId);
            data.append("notifyCustomer", notifyCustomer);
            showLoading();
            $.ajax({
                type: "POST",
                url: '/Dashboard/UpdateBulkDesign',
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    if (result == "") {
                        //do nothing
                        displayPopupNotification('Sorry there was an error creating your design.', 'error', false);
                    } else {
                        if (digitizingPage) {
                            window.location.reload();
                        } else {
                            //set the url for the file link and show the link
                            showBulkOrderDetailsPopup(bulkOrderId);
                        }  
                    }
                },
                error: function (xhr, status, p3, p4) {
                    displayPopupNotification('Sorry there was an error creating your design.', 'error', false);
                }
            });

        } else {
            displayPopupNotification('Please upload atleast a png preview, dst file, pdf AND emb file to save.', 'error', false);
        }
    }
</script>