@model LidLaunchWebsite.Models.ViewBulkOrdersModel
@{
    ViewBag.Title = "ViewBulkOrders";
}
<script type="text/javascript">
    var url = '@Url.Action("BulkOrderDetailsPopup", "DashBoard")';
    var bulkBatchesUrl = '@Url.Action("BulkOrderBatches", "Bulk")';
</script>
<span onclick="createBulkOrderBatch()" class="left" style="margin:10px;"><input type="button" value="Create Bulk Batch" class="smallButton" /></span>
<span onclick="$('#popUpHolder').load(bulkBatchesUrl);" class="left" style="margin:10px;"><input type="button" value="View Bulk Batches" class="smallButton" /></span>
<table class="bulkOrderList clear">
    <tbody>
        <tr>
            <td></td>
            <td><b>Id</b></td>
            <td><b>Order Date</b></td>
            <td><b>Customer Info</b></td>
            <td><b>Order Notes</b></td>
            <td><b>Artwork Position</b></td>
            <td><b>Art Source</b></td>
            <td><b>Order Paid</b></td>
            <td><b>CSTLINK</b></td>
            <td><b>VIEW</b></td>
            <td><b>Batch</b></td>
        </tr>
        @foreach (LidLaunchWebsite.Models.BulkOrder bulkOrder in Model.lstBulkOrders)
        {
            if (bulkOrder.OrderPaid)
            {
                <tr style="background:#ccc;">
                    @if (bulkOrder.OrderComplete)
                    {
                        <td style="width:30px; background:#39b91c;"></td>
                    }
                    else if (!bulkOrder.lstDesigns.Any(d => d.CustomerApproved == false))
                    {
                        <td style="width:30px; background:#1372d3;"></td>
                    }
                    else
                    {
                        <td style="width:30px;"></td>
                    }

                    <td><span class="bulkOrderId">@bulkOrder.Id</span></td>
                    <td>@bulkOrder.OrderDate.ToString("MM/dd/yyyy")</td>
                    <td>@bulkOrder.CustomerName<br />@bulkOrder.CustomerEmail<br />@bulkOrder.CustomerPhone</td>
                    <td>@bulkOrder.OrderNotes</td>
                    <td style="text-align:center;">
                        @if (bulkOrder.ArtworkPosition == "left")
                        {
                            <img src="~/Images/LeftPlacement.jpg" class="placementImage" style="max-height:60px;max-width:60px;" />
                        }
                        @if (bulkOrder.ArtworkPosition == "right")
                        {
                            <img src="~/Images/RightPlacement.jpg" class="placementImage" style="max-height:60px;max-width:60px;" />
                        }
                        @if (bulkOrder.ArtworkPosition == "center")
                        {
                            <img src="~/Images/CenterPlacement.jpg" class="placementImage" style="max-height:60px;max-width:60px;" />
                        }
                    </td>
                    <td><a href="~/Images/BulkOrderArtwork/@bulkOrder.ArtworkImage" target="_blank"><img src="~/Images/BulkOrderArtwork/@bulkOrder.ArtworkImage" style="max-height:100px;max-width:100px;" /></a></td>
                    @if (bulkOrder.OrderPaid)
                    {
                        <td style="background: #39b91c; text-align:center;"><a style="color:#fff;" href="#" onclick="updateBulkOrderPaid('@bulkOrder.Id','true',this)">$@bulkOrder.OrderTotal</a></td>
                    }
                    else
                    {
                        <td style="background:red; text-align:center;"><a style="color:#fff;" href="#" onclick="updateBulkOrderPaid('@bulkOrder.Id','false',this)">$@bulkOrder.OrderTotal</a></td>
                    }
                    <td><a href="https://lidlaunch.com/bulk/orderstatus?id=@bulkOrder.PaymentGuid" target="_blank" class="ViewBulkLink"><input type="button" value="CSTLINK" class="smallButton" /></a></td>
                    <td><span onclick="showBulkOrderDetailsPopup(@bulkOrder.Id);"><input type="button" value="VIEW" class="smallButton" /></span></td>
                    <td>
                        <select class="batchSelect">
                            <option id="0" selected value="0">N/A</option>
                            @foreach (LidLaunchWebsite.Models.OrderBatch batch in Model.lstBulkOrderBatches)
                            {
                                if (batch.BatchId == bulkOrder.BulkOrderBatchId)
                                {
                                    <option id="@batch.BatchId" selected value="@batch.BatchId">@batch.BatchId : @batch.DateBatched.ToString("MM/dd")</option>
                                }
                                else
                                {
                                    <option id="@batch.BatchId" value="@batch.BatchId">@batch.BatchId : @batch.DateBatched.ToString("MM/dd")</option>
                                }
                            }
                        </select>
                    </td>
                </tr>                
            }
        }
    </tbody>
</table>
<h3>Not Paid Orders</h3>
<table>
    <tbody>
        <tr>
            <td><b>Id</b></td>
            <td><b>Order Date</b></td>
            <td><b>Customer Info</b></td>
            <td><b>Order Notes</b></td>
            <td><b>Artwork Position</b></td>
            <td><b>Art Source</b></td>
            <td><b>Order Paid</b></td>
            <td><b>CSTLINK</b></td>
            <td><b>VIEW</b></td>
        </tr>
        @foreach (LidLaunchWebsite.Models.BulkOrder bulkOrder in Model.lstBulkOrders)
        {
            if (!bulkOrder.OrderPaid)
            {
            <tr style="background:#ccc;">
                <td>@bulkOrder.Id</td>
                <td>@bulkOrder.OrderDate.ToString("MM/dd/yyyy")</td>
                <td>@bulkOrder.CustomerName<br />@bulkOrder.CustomerEmail<br />@bulkOrder.CustomerPhone</td>
                <td>@bulkOrder.OrderNotes</td>
                <td>@bulkOrder.ArtworkPosition</td>
                <td><a href="~/Images/BulkOrderArtwork/@bulkOrder.ArtworkImage" target="_blank"><img src="~/Images/BulkOrderArtwork/@bulkOrder.ArtworkImage" style="max-height:100px;max-width:100px;" /></a></td>
                @if (bulkOrder.OrderPaid)
                {
                    <td style="background: #39b91c; text-align:center;"><a style="color:#fff;" href="#" onclick="updateBulkOrderPaid('@bulkOrder.Id','true',this)">$@bulkOrder.OrderTotal</a></td>
                }
                else
                {
                    <td style="background:red; text-align:center;"><a style="color:#fff;" href="#" onclick="updateBulkOrderPaid('@bulkOrder.Id','false',this)">$@bulkOrder.OrderTotal</a></td>
                }
                <td><a href="https://lidlaunch.com/bulk/orderstatus?id=@bulkOrder.PaymentGuid" target="_blank" class="ViewBulkLink"><input type="button" value="CSTLINK" class="smallButton" /></a></td>
                <td><span onclick="showBulkOrderDetailsPopup(@bulkOrder.Id);"><input type="button" value="VIEW" class="smallButton" /></span></td>
            </tr>

            }
        }
    </tbody>
</table>

<div id="popUpHolder">

</div>






