@model LidLaunchWebsite.Models.ViewBulkOrdersModel
@{
    ViewBag.Title = "ViewBulkOrders";
}
<script type="text/javascript">
    var url = '@Url.Action("BulkOrderDetailsPopup", "DashBoard")';
    var bulkBatchesUrl = '@Url.Action("BulkOrderBatches", "Bulk")';
    $(document).ready(function () {
        $('#idSeach').on('keypress', function (e) {
            if (e.which === 13) {
                window.location = '/Dashboard/ViewBulkOrders?filter=' + $(this).val();
            }
        });
    });
</script>
<span onclick="createBulkOrderBatch()" class="left" style="margin:10px;"><input type="button" value="Create Bulk Batch" class="smallButton" /></span>
<span onclick="$('#popUpHolder').load(bulkBatchesUrl);" class="left" style="margin:10px;"><input type="button" value="View Bulk Batches" class="smallButton" /></span>
<span onclick="window.location = '/Dashboard/ViewBulkOrders';" class="left" style="margin:10px;"><input type="button" value="Show All" class="smallButton" /></span>
<span onclick="window.location = '/Dashboard/ViewBulkOrders?filter=rework';" class="left" style="margin:10px;"><input type="button" value="Show Rework" class="smallButton" /></span>
<span onclick="window.location = '/Dashboard/ViewBulkOrders?filter=45days';" class="left" style="margin:10px;"><input type="button" value="Show 45 Days" class="smallButton" /></span>
<span onclick="window.location = '/Dashboard/ViewBulkOrders?filter=pending';" class="left" style="margin:10px;"><input type="button" value="Show All Pending" class="smallButton" /></span>
<span onclick="window.location = '/Dashboard/ViewBulkOrders?filter=unpaid';" class="left" style="margin:10px;"><input type="button" value="Unpaid" class="smallButton" /></span>
<span onclick="window.location = '/Dashboard/ViewBulkOrders?filter=revision';" class="left" style="margin:10px;"><input type="button" value="Revision" class="smallButton" /></span>
<span onclick="window.location = '/Dashboard/ViewBulkOrders?filter=noart';" class="left" style="margin:10px;"><input type="button" value="No Art" class="smallButton" /></span>
<input type="text" id="idSeach" class="left" style="padding:10px;margin:10px;"/>
<table class="bulkOrderList clear">
    <tbody>
        <tr>
            <td></td>
            <td><b>Id</b></td>
            <td><b>Order Date</b></td>
            <td><b>Customer Info</b></td>
            <td><b>Order Notes</b></td>
            <td><b>Has Extras</b></td>
            <td><b>Art Source</b></td>
            <td><b>Order Paid</b></td>
            <td><b>CSTLINK</b></td>
            <td><b>VIEW</b></td>
            <td><b>Batch</b></td>
        </tr>
        @foreach (LidLaunchWebsite.Models.BulkOrder bulkOrder in Model.lstBulkOrders)
        {
    <tr style="background:#ccc;">


        @if (bulkOrder.lstItems.Any(i => i.BulkRework.Status == "In Progress"))
        {
            <td style="width:30px; background:#e92121;"></td>
        }
        else
        {
            if (bulkOrder.OrderComplete)
            {
                <td style="width:30px; background:#39b91c;"></td>
            }
            else
            {
                if (bulkOrder.ReadyForProduction)
                {
                    <td style="width:30px; background:#1372d3;"></td>
                }
                else
                {
                    if (bulkOrder.lstDesigns.Any(d => d.InternallyApproved == false))
                    {
                        if (bulkOrder.lstDesigns.Any(d => d.DigitizedPreview != ""))
                        {
                            <td style="width:30px; background:#f9fc04;"></td>
                        }
                        else
                        {
                            <td style="width:30px;"></td>
                        }
                    }
                    else
                    {
                        if (bulkOrder.lstDesigns.Any(d => d.CustomerApproved == false))
                        {
                            if (bulkOrder.lstDesigns.Any(d => d.Revision))
                            {
                                <td style="width:30px; background:#8c4b00;"></td>
                            }
                            else
                            {
                                <td style="width:30px; background:#fc8a04;"></td>
                            }
                        }
                        else
                        {
                            <td style="width:30px; background:#c504fc;"></td>
                        }
                    }
                }
            }
        }


        <td><span onclick="showBulkOrderDetailsPopup(@bulkOrder.Id);" class="bulkOrderId"> @bulkOrder.Id </span></td>
        <td>@bulkOrder.OrderDate.ToString("MM/dd/yyyy")</td>
        <td>@bulkOrder.CustomerName<br />@bulkOrder.CustomerEmail<br />@bulkOrder.CustomerPhone</td>
        <td>@bulkOrder.OrderNotes</td>
        <td>
            @if(bulkOrder.lstItems.Any((li => li.ItemName.Contains("Side") || li.ItemName.Contains("Back") || li.ItemName.Contains("Beanie"))))
            {
                <span>Extras</span>
            }
        </td>
        <td>
            @if (bulkOrder.ArtworkImage == "" && !bulkOrder.OrderNotes.Contains("ARTWORK PRE-EXISTIING"))
            {
                <span>NO<br />ART</span>
            }
            else
            {
                <a href="~/Images/BulkOrderArtwork/@bulkOrder.ArtworkImage" target="_blank">[]</a>
            }
        </td>
        @if (bulkOrder.OrderPaid)
        {
            <td style="background: #39b91c; text-align:center;"><a style="color:#fff;" href="#" onclick="updateBulkOrderPaid('@bulkOrder.Id','true',this)">$@bulkOrder.OrderTotal</a></td>
        }
        else
        {
            <td style="background:red; text-align:center;"><a style="color:#fff;" href="#" onclick="updateBulkOrderPaid('@bulkOrder.Id','false',this)">$@bulkOrder.OrderTotal</a></td>
        }
        <td><a href="https://lidlaunch.com/bulk/orderstatus?id=@bulkOrder.PaymentGuid" target="_blank" class="ViewBulkLink"><input type="button" value="CSTLINK" class="smallButton" /></a></td>
        <td><span onclick="showBulkOrderDetailsPopup(@bulkOrder.Id);"><input type="button" value="VIEW" class="smallButton" /></span></td>
        <td>
            <select class="batchSelect">
                <option id="0" selected value="0">N/A</option>
                @foreach (LidLaunchWebsite.Models.OrderBatch batch in Model.lstBulkOrderBatches)
                {
                    if (batch.BatchId == bulkOrder.BulkOrderBatchId)
                    {
                        <option id="@batch.BatchId" selected value="@batch.BatchId">@batch.BatchId : @batch.DateBatched.ToString("MM/dd")</option>
                    }
                    else
                    {
                        <option id="@batch.BatchId" value="@batch.BatchId">@batch.BatchId : @batch.DateBatched.ToString("MM/dd")</option>
                    }
                }
            </select>
        </td>
    </tr>                
        }
    </tbody>
</table>

<div id="colorLegend">
    <div class="colorLegendItem" style="background-color:#e92121;">Rework</div>
    <div class="colorLegendItem" style="background-color:#39b91c;">Complete</div>
    <div class="colorLegendItem" style="background-color:#1372d3;">Ready For Production</div>
    <div class="colorLegendItem" style="background-color:#ccc; color:#000;">Waiting For Digitizing</div>
    <div class="colorLegendItem" style="background-color:#f9fc04; color:#000;">Awaiting Internal Digitizing Approval</div>
    <div class="colorLegendItem" style="background-color:#fc8a04;">Awaiting Customer Digitizing Approval</div>
    <div class="colorLegendItem" style="background-color:#8c4b00;">Revisions Requested</div>
    <div class="colorLegendItem" style="background-color:#c504fc;">Customer Approved</div>
</div>

<div id="popUpHolder">

</div>






